[2021-09-09 00:56] with-heart opened #9 "Document contributor patterns/expectations"
As a project grows, it's important to establish clear patterns and expectations for potential contributors in a single place. This allows new contributors to understand any special cases they need to be aware of that might affect their workflow, so they can be effective in working on the project from the get-go.

An example of a special case is #7. i18n is great and we should want that in the proj

[2021-09-09 02:07] kempsterrrr opened #11 "Update README.md to give more detail on DeveloperDAO"
I expect this repo could get a fair bit of exposure in the next few days & weeks so think it would be good to update our README.md to provide more info.

I'm happy to spin up a PR for this to get the ball rolling will get this up tomorrow. Keen for input on what to include but probably start with:

- Brief overview of DeveloperDAO (given the what/why is still being defined)
- Instructions on how t

[2021-09-09 03:38] thomasmetta commented on #11
Sounds good

[2021-09-09 03:50] thomasmetta opened #12 "Update deployment/hosting"
Currently, auto deployment is not working since this project was moved to an Org instead of a personal account. We need teams on vercel to get the deployment working again; however, that's a paid tier.

We need to find another hosting solution for deployment. Any suggestion is welcome

[2021-09-09 06:02] sankalpk commented on #12
render.com has a free tier and it worked pretty well for me in previous projects.

[2021-09-09 11:08] kempsterrrr commented on #12
Given we are are a community for thousands of developers we may be able to get vercel to give us free / discounted hosting fro the main website as free publicity for them. [Netlify](https://www.netlify.com/) also do this.

Think it is definitely worth reaching out to them and happy to do so. Thoughts? and would we prefer Vercel or Netlify, or another?

[2021-09-09 13:12] with-heart commented on #12
@kempsterrrr Definitely worth it! Vercel has a free plan for open source projects, so we should be covered by that if someone reaches out to them.

[2021-09-09 13:13] with-heart commented on #11
I think this is a solid idea. Get it off the ground with a basic set of information to help newbies understand what this project is and how to connect with us, and then we can evolve it as we move forward.

[2021-09-09 14:30] with-heart commented on #11
btw wanted to share the "Community" section of the BlitzJS docs for inspiration: https://blitzjs.com/docs/how-the-community-operates

I love that it paints such a clear picture of like how the blitz community operates, expectations and such for contributors and maintainers, how to become a maintainer, ways to contribute and become involved, etc.

Good inspiration for how we could document the DAO

[2021-09-09 17:26] kempsterrrr commented on #11
This is dope. I've raised the question elsewhere about starting to build some docs for the DAO which they can then host on Gitbooks (hopefully for free). Guess there is a community decision to be made about the purpose of our main website and where to host this info. Need to get governance (proposals and voting etc) rolling asap!

My intention is the following structure
LOGO
Developer DAO
one line

[2021-09-09 21:24] kempsterrrr commented on #11
Pushed up a V1 to get things rolling. L

This is all pretty new to me... I've never created something like this that's going to have so many public eyes on it before!

Current structure is:

- Table of Contents
- What is a DAO
- What is DeveloperDAO
- How do I join?
- What is this repo?
- Developing
- Contributing
- Authors

Things I think we need to add but need community input:

- Lisence
- Code

[2021-09-10 08:41] alexvanzyl commented on #11
@kempsterrrr went over the `README.md` file, for what it's worth looks good to me as a starting point, some minor typos but looks like @xdrdak has already caught them :smile:.  I think at a later stage the "What is DeveloperDAO?"  can be expanded as the community forms more of an identity.

With regards to hosting whatever the final decision is there happy to help get things set up.

[2021-09-10 11:52] kempsterrrr commented on #11
thanks @alexvanzyl ! I'm with you on the `What is DeveloperDAO` section 💯, feeling is this is going to evolve once we get organised around a why. IMO the first part is OK but I don't particularly like this

`As stated on : "Developers around the world are tired of working and contributing their time and effort to enrich the top 1%. Join the movement that is community owned, building the future fro

[2021-09-10 16:00] with-heart opened #15 "Add allcontributors"
[allcontributors](https://allcontributors.org/) is a great way for us to recognize contributors to the project. It also allows us to be more specific than GitHub contributors in that it shows the specific types of contributions each contributor has made.

[2021-09-10 17:16] kempsterrrr commented on #15
Yup. Totally into this. Shall I include in #13 ?

[2021-09-10 17:26] Dhaiwat10 opened #16 "Vercel automatic deployments not working?"
I saw that the last deployment is 5 days old, but the latest commit was made 1 hr ago.

Also, the fact that there is no favicon/title seen on [developerdao.com](https://developerdao.com), but we have the [code](https://github.com/Developer-DAO/developer-dao/blob/main/public/index.html#L27) for it. Is something going wrong?

![image](https://user-images.githubusercontent.com/39617427/132893604-1583

[2021-09-10 20:11] Dhaiwat10 commented on #12
Has anyone reached out to them yet?

[2021-09-10 20:12] #16 closed

[2021-09-10 20:23] kempsterrrr commented on #12
Yes, see [here](url). We have the OK from the DevRel team as long as meet these T&Cs - https://vercel.com/support/articles/can-vercel-sponsor-my-open-source-project

I'm starting to think we just push on with Vercel. Thoughts everyone?

[2021-09-10 20:47] Dhaiwat10 commented on #12
Vercel is great! We should def be looking to get their services if it's possible for us.

Will a static site be enough for us tho? I'm pretty sure we meet the rest of the criteria.

[2021-09-10 21:08] nheingit commented on #9
Would like to add a `.github` file where we can put a pull request template to ensure that we're following all of the steps outlined in the `CONTRIBUTING.md` file, and make PR's more standard and easy to read through.

[2021-09-10 22:51] thomasmetta commented on #15
let's do it

[2021-09-11 03:20] thomasmetta commented on #12
Quick update on this. We moved to team in vercel, will sort out the sponsorship soon

[2021-09-11 03:26] kempsterrrr commented on #15
Added app to org, see below need someone with higher privs to authorise on this repo.

![Screenshot 2021-09-11 at 04 24 15](https://user-images.githubusercontent.com/9025997/132934677-4405a546-7ba4-4dd9-bab5-47cb924c94f9.png)

[2021-09-11 03:44] thomasmetta commented on #15
Done

[2021-09-11 12:52] kempsterrrr commented on #11
Solved in #13

[2021-09-11 12:52] #11 closed

[2021-09-11 16:27] codingwithmanny opened #20 "Design Proposal 2020-09-11"
**Context:**
Reason for this design to give the public links to social links, and a quick url to the github repo for this website.
This is of course a discussion and not the end all of what needs to be implemented. This is just a proposal to start the discussion.

**Features:**

A - New top navigation, includes potential links for other pages, and a github icon which links to this repository (in c

[2021-09-11 16:46] codingwithmanny opened #22 "ViteJS vs CRA"
**Context:**
This is more of a discussion thread to see what everyone thinks about converting this to [vitejs](https://vitejs.dev) that runs on [esbuild](https://esbuild.github.io). If anyone has used vitejs or esbuild, as a dev you will see dramatically the difference in build time for local development and deployments.

**Reasons For:**
1 - Speed for local development
2 - Simplified process

**R

[2021-09-11 18:56] nheingit commented on #22
I haven't used Vite myself, but know several people that swear by it. It's easier to do this now rather than later.

The biggest downside here I think will be barrier to entry to contributing, as people are more familiar with CRA. However I'd be in favor for a move to vite.

Would be interested if @with-heart has any strong opinions on this.

[2021-09-11 19:00] Dhaiwat10 opened #26 "Empty prettier config"
The [prettier config file](https://github.com/Developer-DAO/developer-dao/blob/main/.prettierrc.json) is...empty? 😅

Shouldn't we have some rules in place inside the config?

[2021-09-11 19:08] codingwithmanny commented on #22
Without trying to overly commit. I could maybe (bigger maybe), create a proposal.
But would need to coordinate with whoever did the vercel deployments.

[2021-09-11 19:10] codingwithmanny commented on #26
Good call. Here's my initial proposal:

[code]

[2021-09-11 19:15] aesthytik commented on #20
@codingwithmanny the website is using tailwindcss with system default fonts.

[2021-09-11 20:00] Dhaiwat10 commented on #22
Personally, I'm a huge fan of Vite but whether we should make the move to it depends on what we plan to do with this codebase in the future  — what 'features' we might add, whether it will be _mostly_ static like right now or not?

If we are planning to build a load of features on top of this codebase, I'd say we're early enough to afford a re-factor. Would love to hear everyone else's thoughts :)

[2021-09-11 20:02] kempsterrrr commented on #22
I'm not against this, also heard many good things about Vite. Can I add Next.js into the conversation?

Reasons for:
- tight integration with Vercel
- sane defaults for routing, images, data-fetching etc.
- easy onboarding

Reasons against:
- even more substantial refactor
- slower build times compare the esbuild

[2021-09-11 20:02] Dhaiwat10 commented on #26
LGTM! I'll put in a PR once we get a few more green lights :)

[2021-09-11 20:03] codingwithmanny commented on #22
I just did the conversation, minus some tests. I'm creating a PR to review, but I may need some help on some things.

[2021-09-11 20:08] codingwithmanny commented on #22
@kempsterrrr I thought about this too. I realize it's experimental, but there's also SSR with Vitejs (just haven't tried it personally yet):
https://vitejs.dev/guide/ssr.html#conditional-logic

[2021-09-11 20:16] codingwithmanny commented on #20
thanks @aesthytik I figured. Just need to figure out the way to get those fonts downloaded again. I can't remember the link for them, but I'll give it a look.

If anyone happens to know the font used for the D_D logo, that would help immensely as well.

[2021-09-11 20:23] kempsterrrr commented on #22
Interesting. @Dhaiwat10 any experience with ssr and Vite?

I think the point about what we do with the website is important too but also we don't want it to slow us down. There has been some chatter about building a web3 course platform in discord [here](https://discord.com/channels/883478451850473483/884358142257938452/884750647684136990) which I think is a pretty dope idea!

Guess it could end u

[2021-09-11 20:47] with-heart commented on #22
Not really! Just biases towards what I'm familiar/comfortable with. Next.js has been my default go-to for a while now, but I've also heard wonderful things about vite and am totally open to learning something new if that's the route we want to go.

Does anyone know how something like `mdx` setup and configuration works with vite? Like what that looks like code-wise? Would love to see a good modern

[2021-09-11 20:59] with-heart commented on #20
@codingwithmanny This looks great! It's a nice way to present a lot of relevant information on the screen. The menu bar is especially nice.

[2021-09-11 21:00] with-heart commented on #20
Unfortunately I'm not sure what the font is either :( We'll get it figured out at some point though

[2021-09-11 21:01] will-t-harris commented on #22
I haven't used it so can't vouch for it, but there's [this Vite plugin] for mdx that seems active.

I've messed around with Vite a bit in the past and was _very_ impressed with how quick the local dev feedback loop is. Almost imperceptible HMR times.

[2021-09-11 21:01] with-heart commented on #26
Go for it!

[2021-09-11 21:10] Dhaiwat10 commented on #22
@kempsterrrr if we need SSR, I think Next.js is by far the best solution out there. Like @codingwithmanny said, support for SSR in Vite is experimental. I have tried it, I haven't faced any major issues but I don't we should rely on it. I would much rather rely on Next.js.

[2021-09-11 21:15] codingwithmanny commented on #22
This might be a sideways opinion, but if the goal is to have static generated pages that are SEO friendly and we don't intend to pull from a database or a CMS often, I might suggest using Gatsby.

Unless you everyone is suggesting SSG with NextJS?

[2021-09-11 21:22] with-heart commented on #9
Ye, definitely agree with that! I LOVE issue forms and PR templates!

I do want to avoid too much process too quickly though, as that can be more of a burden than it's worth at certain stages of a project's life. Not sure if that applies here, but just something to think about!

If a PR template helps give us useful information that makes it easier to review the code, I'm totally down. Just not su

[2021-09-11 21:29] codingwithmanny commented on #20
I'm 90% sure the system font it's SF Pro Text from https://github.com/supermarin/YosemiteSanFranciscoFont on my system.
<img width="1368" alt="Screen Shot 2021-09-11 at 5 28 11 PM" src="https://user-images.githubusercontent.com/318082/132962037-9b9da143-0a9f-4fd5-a927-dfd26bc43bfc.png">

I might suggest using a more specified font like Roboto, Poppins, Inter or Open Sans.

[2021-09-11 21:45] #26 closed

[2021-09-11 22:28] kempsterrrr commented on #22
imo static is the way to go whatever we chose as right now we just need a basic site. Think here's also a good chance we'll want/need dynamic functionality in the not-too-distant future so also should probably factor that in now.

Gatsby is a-ma-zing for small (*not v large) static sites like blogs etc. (use it for mine) but my understanding is once you try to go too dynamic and/or scale-up it's l

[2021-09-11 22:33] codingwithmanny opened #35 "Replace Logo With SVG"
**Context:**
Instead of representing the logo as a jpeg. I would like to propose the loge in the format of SVG.

**Reasons:**
- Typically smaller in size
- Can scale (because it's a vector)

**Problem:**
I couldn't find the font to recreate the logo, so I redid the logo in Figma as close as possible.
Link to Figma file: https://www.figma.com/file/BBxYJrArJFOpND9c4OBWkY/D_D?node-id=3%3A2

**Propose

[2021-09-11 23:02] codingwithmanny commented on #20
Here is the revised design proposal.

Let me know with a 👍 if you think I should implement this or discuss further.

**Before / Current**
![Before-2020-09-11](https://user-images.githubusercontent.com/318082/132963631-06f9f99c-2544-499b-a911-970e55d5e70c.png)

**Proposal**
![Proposal-2020-09-11](https://user-images.githubusercontent.com/318082/132963634-380e8cc2-4e15-4b7e-8ae0-5ee80531ef2e.png)

[2021-09-11 23:10] codingwithmanny commented on #22
100% agree. Maybe not Gatsby then.

Did we want to create a proposal then?

I'm quite good at googliwebs as well :)
I could spend a little time later this weekend looking at the vite ssr implementation, if everyone thinks it's worth looking into.
I have to finish writing 3 blog articles on esbuild for work, so it wouldn't be that far off to look into at the same time.

[2021-09-12 14:14] codingwithmanny commented on #22
Tried to convert the draft vitejs with the `vite-plugin-ssr`... kind of more like do-one-thing-do-it-not-quite-there-yet-so-well.
Documentation is off, sample code doesn't seem to match, some functions aren't even recommended anymore when you try to compile it,  and when I did get it to compile the page flashes for html rendering.

Don't mean to be negative, but objectively this doesn't encourage

[2021-09-12 15:12] codingwithmanny opened #37 "Caching Mechanism For Token Metadata"
**Context:**
I can imagine there being a wall or gallery view of all the token's that have been issued, similar to when viewing: https://opensea.io/collection/devs-for-revolution that we might want to show later on a different page or use to show other data.

**Problem:**
Querying all this data each time is expensive when querying each token directly.

**Solution:**
Considering that all tokens are

[2021-09-12 15:20] will-t-harris commented on #22
Thanks for looking into that @codingwithmanny

Vercel did just recently hire the author of webpack, so I'd assume they will continue to rely on webpack for the foreseeable future.

Not necessarily a bad thing, but did want to throw that out there.

[2021-09-12 16:14] codingwithmanny commented on #22
Just going to close this issue because it looks like we need to discuss in another thread regarding NextJS as a proposed implementation.

[2021-09-12 16:14] #22 closed

[2021-09-12 16:33] will-t-harris commented on #37
Agreed that a local json file sounds like the simplest approach here.

[2021-09-12 17:08] with-heart commented on #35
Let's do it!

[2021-09-12 19:39] aesthytik commented on #35
Awesome, looks good

[2021-09-12 19:51] kempsterrrr commented on #35
looks good!

[2021-09-12 23:47] #15 closed

[2021-09-12 23:54] with-heart commented on #35
@allcontributors please add @codingwithmanny for design

[2021-09-13 00:05] codingwithmanny opened #42 "Nextjs Implementation"
**Context:**
Based on conversation #22 there seemed to be a consensus that it would make sure to create Nextjs version of the website to handle SSG/SSR.

**Proposal:**
Need someone to volunteer to create a proof of concept with Nextjs of the site.

[2021-09-13 00:19] with-heart commented on #42
I can throw it together!

[2021-09-13 00:33] codingwithmanny commented on #42
Thanks @with-heart

[2021-09-13 00:34] codingwithmanny commented on #37
Just mentioning here that I am working on this.
My be taking a bit longer because I didn't want to just copy and paste json from another service.
I wanted a script that we could use later for other various contract to pull in information via a cli tool.
Not entirely sure that still entirely feasible but I have been playing around with etherscan's API.

[2021-09-13 00:44] fmoliveira commented on #37
@codingwithmanny

Would this help? https://github.com/Anish-Agnihotri/dhof-loot/blob/master/index.js

[2021-09-13 01:06] Dhaiwat10 commented on #42
@with-heart could you assign this to me? 😂

[2021-09-13 01:22] with-heart commented on #42
Done!

[2021-09-13 01:30] with-heart opened #43 "Automatically sync URL state with current NFT id"
Following up on #38, I think it'd be cool if the current NFT id was automatically synced with the URL. That'd make it more obvious that the functionality exists, and users could just copy the URL to share with others.

[2021-09-13 01:32] with-heart opened #44 "Add "copy link" button for linking directly to NFT id"
Following up on #38, it'd be useful to allow users to click a button to copy the URL to the current NFT. Makes it much easier to share with others, and makes it obvious to them that the functionality exists.

[2021-09-13 02:36] #9 closed

[2021-09-13 07:38] #12 closed

[2021-09-13 13:27] codingwithmanny commented on #37
@fmoliveira this helped a lot. I managed to get inspired from it and created a script that relies on etherscan's api to pull in the data. Much appreciated 🙏

[2021-09-13 19:11] with-heart opened #47 "Switch to a component library"
I think we should consider using a modern, accessibility-driven component library as the basis for the site. I love `tailwind` but it only gives us a design system. Which is important, but it's only just barely scratching the surface of our needs.

# Benefits

- lots of pre-built components that encapsulate the basic functionality that exists in most apps
- a11y is one of the most important things

[2021-09-13 19:18] with-heart commented on #47
This isn't supposed to be empty. Hit submit too early. Check back later! 😁

[2021-09-13 20:11] xdrdak commented on #47
Agreed on using a component library. Lot's of choices out there though...

My vote would be to go for chakra-ui. It's pretty much battle tested and has a large enough community around it (plus I loved using it so big props to you @with-heart + the chakra community).

Sure, we can do something dope with tailwind + a headless component library, but I think it's a good idea to start streamlining cert

[2021-09-13 21:57] kempsterrrr commented on #47
+1 for Chakra UI. Used Tailwind a lot but recently moved to Chakra and found it much nicer + you get a lot more for free and preferred their approach using props + values over classes. That said, I've only used the built in styles although the docs for custom styling make it look pretty neat.

Can't common on the others but assume they solve similar problems.

Imagine it can't hurt having @with-he

[2021-09-13 22:48] kempsterrrr opened #48 "Add Community Projects section to website"
I think we should have a home on the website to showcase tools being built by the community. Don't know if we want to wait for #45 merged first and potential #47 to be addressed but wanted to get this up here so it's on our radar. Either way, I'd be happy to take it on if/when we agree it's a good idea.

## Projects

- http://ddao.ibby.dev/ - IbbyDev {#1703} | IbbyDev#8201
- https://developerdao.v

[2021-09-14 00:25] thomasmetta commented on #47
Chakra UI since @with-heart is here lol

[2021-09-14 02:00] gjsyme opened #49 "next-i18next internationalization"
Shift from react-i18next to next-i18next. Requires a shift to json files vice js files for translation sources. I'll be happy to do this once the build for #42 is merged.

[2021-09-14 04:23] #35 closed

[2021-09-14 04:35] with-heart commented on #47
That's totally fair. I'm obviously biased in a certain direction so don't want to pressure the project to move that way, but if there are enough of us that prefer it/feel comfortable with it, I think it'll be a good choice for us!

[2021-09-14 08:13] codingwithmanny opened #50 "Fix README.md logo"
**Context:**
When the new logo as an svg was merged down it broke the `README.md` file with reference to the old jpg.

**Before:**
<img width="2032" alt="Screen Shot 2021-09-14 at 4 13 31 AM" src="https://user-images.githubusercontent.com/318082/133221162-8e09fc19-7e4a-4f5d-9785-bdc688f75358.png">

**Proposal:**
Propose using the `public/logo512.png` as the base.

[2021-09-14 09:26] codingwithmanny commented on #48
My suggestion for this, before any code is done, is to create either a quick wireframe or quick design file of what this section would look like.

**Questions:**
1 - Should it be a list or grid of thumbnails?
2 - Should there be filtering?
3 - Should "Projects" be in the navigation bar?
4 - When you click on a project, does it lead to the repository, a project url, other?

[2021-09-14 12:51] with-heart commented on #50
Go for it!

[2021-09-14 12:53] with-heart commented on #50
Meta note: I feel like we should carve out an exception to the "open an issue and seek validation before working" rule for minor technical tasks like this. Same PR + the contents of this issue as its description would have been totally fine without needing to open an issue imo.

[2021-09-14 12:59] #50 closed

[2021-09-14 13:15] codingwithmanny commented on #50
@with-heart but I like closing issues 😂

[2021-09-14 13:24] with-heart commented on #48
Good points+questions @codingwithmanny!

1. Probably start with a list? I think we need more projects to figure out how to best represent them.
2. Eventually but probably not needed to start. Not enough there to even justify filtering at this point.
3. Ye
4. Project URL. The project itself should link to its own repo, etc.

[2021-09-14 13:26] with-heart commented on #50
lol that's fair, whatever floats your boat!

[2021-09-14 13:53] #20 closed

[2021-09-14 14:03] codingwithmanny opened #52 "Change GitHub Link At Footer"
**Context:**
Wrong link https://github.com/thomasmetta/developer-dao
Should be https://github.com/Developer-DAO

[2021-09-14 14:09] with-heart commented on #47
btw Chakra has a free egghead.io course available now. If you're reading this and haven't used it before, it's a great resource for getting started! https://egghead.io/courses/build-a-modern-user-interface-with-chakra-ui-fac68106

[2021-09-14 14:21] Dhaiwat10 opened #54 "(mobile) Styling breaking for the owner display"
### Context

![Screenshot](https://user-images.githubusercontent.com/39617427/133275179-bcbd59e4-316d-4405-9d03-aeeecd1fab9a.jpeg)

Captured on an Android device, Chrome browser.

[2021-09-14 14:51] Dhaiwat10 commented on #47
I'd also vouch for chakra-ui. Has always served me well, can never go wrong with it :)

[2021-09-14 15:04] Dhaiwat10 commented on #44
I'll take up this one too since no one has yet 👍🏻

[2021-09-14 17:03] miralsuthar commented on #54
I would like to contribute to this

[2021-09-14 17:06] Dhaiwat10 commented on #54
@miralsuthar all yours

[2021-09-14 18:52] codingwithmanny commented on #42
Can we close this?

[2021-09-14 18:52] gjsyme commented on #49
i am working on this

[2021-09-14 19:58] #42 closed

[2021-09-14 20:16] gjsyme commented on #47
i can do this on chakra. will get something out tonight, but then i will disappear for 5 days, so hopefully it's an acceptable product.

[2021-09-14 20:19] with-heart commented on #47
@gjsyme Do what you can! I'll cover the rest if it's not quite to the finish line

[2021-09-14 20:23] with-heart opened #60 "Switch to Chakra UI"
Issue supersedes #47

This issue is for converting the project to use Chakra UI instead of Tailwind. See #47 for reasons why this is beneficial for us.

There's [a video and small code example available on the Chakra site](https://chakra-ui.com/docs/getting-started#nextjs) for integrating Chakra with a Next.js project.

- [ ] Wrap page renders with `ChakraProvider`
- [ ] Convert Tailwind styles to

[2021-09-14 20:24] with-heart commented on #47
Closing this in favor of #60

[2021-09-14 20:24] #47 closed

[2021-09-14 20:31] with-heart opened #61 "Add note to `CONTRIBUTING.md` that project dependencies are managed with `yarn`"

[2021-09-14 22:29] #52 closed

[2021-09-14 22:33] gjsyme commented on #61
From conversation i put the most basic of lines into Contributing on my next-i18next branch

[2021-09-14 22:39] codingwithmanny opened #63 "i18n Metatags"
**Context:**
Note this should be after we merge #57.
Whenever sharing links of the website, `/fr` or `/es` it does not show the translation of the title or description of the page in that native language. The goal would be to fix that with an existing library.

A conversation was had on potentially using `next/head` instead of `react-helmet`, as a reference.
https://stackoverflow.com/questions/610

[2021-09-14 22:50] codingwithmanny commented on #61
@gjsyme can you reference this ticket with "Fixes #{sixty-one-as-a-number}" in your PR?

[2021-09-14 22:56] fmoliveira commented on #63
Hi @codingwithmanny , I'd like to work on this one!

[2021-09-14 23:03] codingwithmanny commented on #63
Done.

[2021-09-14 23:10] thomasmetta opened #64 "Gitcoin grant"
Let's apply for Gitcoin grant https://gitcoin.co/grants/quickstart

[2021-09-15 02:18] thomasmetta commented on #64
There's a community and NFT Grant and i think we can apply to both https://gitcoin.co/grants/

[2021-09-15 05:22] #54 closed

[2021-09-15 05:23] narbs91 opened #67 "Add direct opensea link to Dev name"
Even though we have a opensea link to the entire project itself in the footer, it would be useful to have a direct link to the searched developer after a successful search.  For example, the name "Dev 1" will link to https://opensea.io/assets/0x25ed58c027921e14d86380ea2646e3a1b5c55a8b/1

[2021-09-15 05:23] narbs91 commented on #67
I'll take up this feature

[2021-09-15 05:24] aesthytik commented on #67
awesome @narbs91

[2021-09-15 05:35] narbs91 opened #68 "Add unit test framework"
Need to add unit testing and potentially integration testing to the project

[2021-09-15 09:14] codingwithmanny commented on #68
@narbs91 would you be able to describe a bit further what you'd like to propose, just to get a better idea. React-testing-framework, snapshots, cypress e2e, playwrite, etc?

[2021-09-15 09:15] codingwithmanny commented on #67
@narbs91 the current link to the dev links to an etherscan URL, what would you like to propose for showing both links? Would you have a UI change to propose?

[2021-09-15 10:23] codingwithmanny commented on #67
If `Dev#1` has a link to it, I might propose the following:

1 - If there is an owner then there show a link with an opensea icon next to it
2 - If there is no owner then there is no click through link and no opensea icon

Example for scenarios like the following:
[https://opensea.io/assets/0x25ed58c027921e14d86380ea2646e3a1b5c55a8b/7899](https://opensea.io/assets/0x25ed58c027921e14d86380ea2646e3a

[2021-09-15 13:16] #49 closed

[2021-09-15 13:16] #61 closed

[2021-09-15 13:20] with-heart opened #69 "Check Chinese translations"
I'm an `en`-only kind of guy so I could be wrong here, but I was checking the existing translations and it looks like Chinese doesn't automatically load when my preferred language is set to `zh` or `zh-TW`.

I think this is because the locale keys are incorrect. We're currently using `zhsc` and `zhtc` but I think this might need to be `zh` (simplified) and `zh-TW` (traditional).

Could someone che

[2021-09-15 13:28] kavimaluskam commented on #69
@with-heart Sorry that missing the part that the language is configured by browser preferred language.

I shall fix it later with the below language code then?
https://gist.github.com/wpsmith/7604842#file-browser-language-codes-js-L38-L42

[2021-09-15 13:52] codingwithmanny commented on #69
Nice so @kavimaluskam you got this ticket?

[2021-09-15 13:53] codingwithmanny commented on #63
@fmoliveira you should be good to go for this one.

[2021-09-15 13:57] kavimaluskam commented on #69
Yep I double check and handle that, today.

[2021-09-15 13:58] codingwithmanny commented on #69
All set! thanks!

[2021-09-15 14:06] with-heart commented on #69
Yeah I think that should work! Thanks @kavimaluskam, appreciate you translating and helping out with getting this set up :)

[2021-09-15 16:54] codingwithmanny commented on #69
Closing this because #70 fixes this.

[2021-09-15 16:54] #69 closed

[2021-09-16 01:19] Dhaiwat10 opened #72 "Some text is too thin, hard to read"
![image](https://user-images.githubusercontent.com/39617427/133533799-30039b08-1f2d-45e8-83fa-ebde9c0117a1.png)

Anyone else feel that the underlined text is a bit too 'thin' & hard to read? I tested this on multiple devices and I feel we should definitely increase the font weight by atleast a bit.

[2021-09-16 01:46] with-heart commented on #72
Definitely agree! I left text at the default font weight in #60 so I'll attach this issue to that :)

[2021-09-16 03:50] narbs91 commented on #67
So what I was thinking in regards to implementation @codingwithmanny was exactly what you proposed:

If the NFT has an owner, turn the the name (i.e "Dev 1") to a link to it's given opensea link (https://opensea.io/assets/0x25ed58c027921e14d86380ea2646e3a1b5c55a8b/1)

if the NFT has no owner, the name appears without the link (as it is now)

UI wise, I thinking a button from the newly added [Chakr

[2021-09-16 04:00] narbs91 commented on #68
This is a bit of a loaded issue ;); however, i think this ticket should focus on adding unit testing for what has been implemented so far.  We can then open separate issues to add e2e tests and integration tests as well.   Framework wise, i'd have to research a bit but i figure something like [mocha](https://mochajs.org/)/[jest](https://jestjs.io/) and maybe [chai](https://www.chaijs.com/) as an a

[2021-09-16 05:14] narbs91 commented on #67
Working Branch: https://github.com/narbs91/developer-dao/tree/feature/add_direct_nft_link

[2021-09-16 08:51] codingwithmanny commented on #68
- Agree: Unit tests for now, BUT I will say not snapshots if we plan on doing e2e later. I think it would be just a lost commitment.

- Agree: 80% coverage

- Proposal: Just Jest, maybe React Testing Library (whichever works best with NextJS)

[2021-09-16 09:00] codingwithmanny commented on #37
Decided to close this issue so that a new repository could be made instead to host this script.

[2021-09-16 09:00] #37 closed

[2021-09-16 13:11] with-heart commented on #68
Why should that be established?

[2021-09-16 14:13] fmoliveira opened #74 "Portuguese translation"
Hi everyone!

I can contribute with a Portuguese (pt-BR) translation. What do y'all think?

[2021-09-16 14:13] with-heart commented on #74
DO IT!

[2021-09-16 14:13] #60 closed

[2021-09-16 14:13] #72 closed

[2021-09-16 14:29] fmoliveira commented on #68
@with-heart

I have some experience with Cypress and general best practices.

Unless anyone is willing to grab e2e tests to work on, I would definitely love to contribute with Cypress!

@codingwithmanny I find React Testing Library super handy because it forces us to test in a more user-centered way, and not only because of that, but especially because there is also Cypress Testing Library! So, wi

[2021-09-16 14:31] with-heart commented on #68
I'm a big fan of `react-testing-library`! Definitely a solid direction to go in :)

[2021-09-16 14:33] codingwithmanny commented on #68
Yeah I have experience with both, but if @fmoliveira wants to take it, that would take a load of my plate 😂

[2021-09-16 14:34] codingwithmanny commented on #67
Yeah we can just mark the PR as a draft and see the progress.

[2021-09-16 14:35] fmoliveira commented on #68
@codingwithmanny

That's tempting because I love cypress, lol 😆  I would be more than happy to take e2e! 😃

[2021-09-16 14:42] Nazeeh21 commented on #48
I want to work on this feature

[2021-09-16 14:55] fmoliveira opened #75 "Add e2e tests with Cypress"
As discussed in another issue starting from this comment: https://github.com/Developer-DAO/developer-dao/issues/68#issuecomment-920887894 , we are willing to add e2e tests.

On that thread, we only mentioned Cypress and didn't discuss any alternatives. Apparently, that's the framework that we have more people familiar with it, and for me, personally, this is enough reason to pick Cypress – to use

[2021-09-16 14:56] fmoliveira commented on #75
I would love to work on this, by the way! 👀

[2021-09-16 16:14] codingwithmanny commented on #48
@Nazeeh21 because it's a new page, did you want to tackle the wireframe of what that page might look like first?

[2021-09-16 16:17] Nazeeh21 commented on #48
Yes, I do. Infact, I was about to ask for that.

[2021-09-16 16:40] mathdroid opened #76 "Add search by property functionality"
So basically I wanted to upgrade the ui and ux of https://headhunter.mathdro.id/ and OSS it. For the uninitiated, it's basically a tool to search devs by their props. Currently it's based on input elements, very basic. I'm looking to upgrade it at least to use: select+options, and display the devs' svgs like in the homepage of https://developerdao.com/.

I'm wondering if this is something the offi

[2021-09-16 16:43] codingwithmanny commented on #48
Sounds good.

[2021-09-16 16:44] mathdroid opened #77 "Add direct minting"
It would be great if we have a button to directly mint available DEVs from the website. For example, from the currently selected Dev in the front page, and maybe elsewhere in the future. (See #76)

[2021-09-16 16:48] with-heart commented on #77
Definitely agree with this. I think it'd boost adoption if we took all of the work and effort out of minting.

[2021-09-16 16:50] Dhaiwat10 commented on #77
This would be so awesome. I had to look around in far too many places to mint mine. This would break that barrier!

[2021-09-16 16:51] Dhaiwat10 commented on #76
We'd absolutely love to have this! :)

[2021-09-16 16:55] Dhaiwat10 commented on #43
We should close this now

[2021-09-16 16:57] narbs91 commented on #68
Awesome discussion gang!  Coolio, so i'll move forward with just unit tests for this ticket but i'll dig into both jest and react testing library to get a better idea of which direction to go; however, sounds like the gang is into the react testing library so might lean that way.

@with-heart no worries at all, the code coverage number is a pretty loaded topic and often incorrectly set.  Basically

[2021-09-16 16:58] narbs91 commented on #67
Cool, cool yeah sure.  I'll touch up the styling a bit today and open up a draft

[2021-09-16 16:58] mathdroid commented on #77
See: https://ddao-mint.ibby.dev/

[2021-09-16 17:02] fmoliveira commented on #76
Yesss! I would love to see that! And this is a perfect time now that we have Chakra UI set up for this UI.

I'd add a navbar to link to this new page or perhaps put a link close to the current search box saying something like "Search developer by traits". I like the idea of putting a link close to the search but I have no idea how we would fit it there for a good appearance and usability. Any thou

[2021-09-16 20:52] codingwithmanny commented on #77
**Suggestions:**
1 - For the first iteration only support Metamask (Unless we want to handle using [Web3Modal](https://github.com/web3modal/web3modal)
2 - abi.json file needs to be compile and stored in the repo to reference the function
3 - Error handling for unable to connect to wallet
4 - Error handling for transaction or insufficient funds
5 - Confirming a transaction can take a while, so I wo

[2021-09-16 20:57] codingwithmanny commented on #76
Just to clarify functionality for this.

1 - Add new page in navigation bar with (Please propose)
1A - Translations would need to be proposed
2 - Page title would need to be present + description on what this is for
3 - New page would have 8 fields to search from at the top of the page under the title an description
4 - Recommend putting filtered content in div with scrollable, so that the body do

[2021-09-16 20:58] codingwithmanny commented on #75
@fmoliveira would you be able to confirm that this would work in GitHub actions? I believe it does support Docker, I even think I did something like for cypress tests and github actions.

If so, can you confirm that this would be built into this functionality as well?

[2021-09-16 21:41] with-heart commented on #75
@codingwithmanny Ye they support all of the Actions things: https://docs.cypress.io/guides/continuous-integration/github-actions#Caching-Dependencies-and-Build-Artifacts

[2021-09-17 01:48] mathdroid commented on #76
Would love to take this. @codingwithmanny

1 - Add new page in navigation bar with (Please propose)

- Hunt? Browse?

- Instead of new page, use a link near the search box?
<img width="623" alt="Screen Shot 2021-09-17 at 8 18 38 AM" src="https://user-images.githubusercontent.com/3748658/133708432-dc11a9fd-1cac-4fd3-a06b-8b78f83234ec.png">

1A - Translations would need to be proposed

- Let's scope

[2021-09-17 02:25] #67 closed

[2021-09-17 12:57] fmoliveira commented on #75
Yeahh, the actions are really great! 🎉

So it'll be ok to include a GitHub workflow right away with this issue, right? I initially thought of discussing the actions in a new issue because of the usage quota (2000 minutes on a free GitHub account), but since you've already mentioned it, yes, I do think it makes a lot of sense to put E2E in this quota. 👍🏻

[2021-09-17 13:31] #43 closed

[2021-09-17 13:39] with-heart commented on #75
Yeah, go for it! The 2000 minutes limit is for private repositories. We'll likely never hit the free limits that exist: https://docs.github.com/en/actions/reference/usage-limits-billing-and-administration#usage-limits

[2021-09-17 14:49] with-heart opened #84 "Convert codebase to TypeScript"
Converting the codebase to TypeScript early on would give us immediate and long-term benefits:

- consistency in data/props
- improved DX
- integration with Chakra & other external library types
- ci type-check can save us effort, prevent bugs, etc.
- improved ability to refactor code

As with any technology, there's always a cost to contributors who aren't familiar with it. To make up for that, I

[2021-09-17 15:40] codingwithmanny commented on #75
Not sure if this would help, but I saw this show up in my work feed today.
 https://testing-library.com/docs/cypress-testing-library/intro/

[2021-09-17 16:18] Nazeeh21 commented on #48
@codingwithmanny  I have designed a UI for the Projects page [here](https://www.figma.com/file/23EfsfC1YAQJ0KBlbpZpoV/Untitled?node-id=0%3A1). Please have a look and do provide me suggestions.

[2021-09-17 16:44] miralsuthar commented on #84
Me and Nazeeh would like to work on this

[2021-09-17 17:14] with-heart commented on #84
Go for it!

[2021-09-17 18:10] codingwithmanny commented on #48
Hi @Nazeeh21 just to keep the look consistent with the website.
Perhaps you could use this base [https://www.figma.com/file/BBxYJrArJFOpND9c4OBWkY/D_D?node-id=37%3A3](https://www.figma.com/file/BBxYJrArJFOpND9c4OBWkY/D_D?node-id=37%3A3)
Take a look at **Website Proposal 2021-09-15** there's a page I started a couple days back to try and address. Perhaps you could copy the Figma file and go from th

[2021-09-17 18:45] Nazeeh21 commented on #48
Sure, I'll start from this boilerplate.

[2021-09-17 20:45] grothem commented on #75
Hey @fmoliveira, if you'd like any help with this, let me know!

[2021-09-18 18:08] nagmak commented on #77
Hey! I'd love to take on this issue if no one else is working on it already🙌🏼

[2021-09-18 19:25] Nazeeh21 commented on #48
I have designed the Projects page from the provided boilerplate. Please provide suggestions.
FIgma link: https://www.figma.com/file/23EfsfC1YAQJ0KBlbpZpoV/Untitled?node-id=9%3A35

[2021-09-19 01:33] thomasmetta commented on #77
abi can be found here https://etherscan.io/address/0x25ed58c027921e14d86380ea2646e3a1b5c55a8b#code

[2021-09-19 02:22] with-heart opened #88 "Missing Translation(s)"
### PR #

79

### Translation Keys

hosting, copyLinkToNFT, linkCopied

### List of missing locales

es, fr, ru, zh-CN, zh-HK, zh-TW, zh

[2021-09-19 04:34] fmoliveira commented on #75
@with-heart Nice, I didn't spot that note!

@codingwithmanny Thank you, I'm definitely going to use it! 😃

@grothem Sure, thank you so much!

[2021-09-19 10:21] codingwithmanny commented on #48
@Nazeeh21 looks like a good base to me. Keep us posted on the PR.
Just remember to mention in the PR `Fixes #48`
Other than that, looks like a good direction.

[2021-09-19 16:27] with-heart opened #91 "Refactor translations to use nesting"
I don't think we have a pressing need for this, but it'd be nice to establish [translation nesting](https://www.i18next.com/translation-function/nesting) as a pattern sooner rather than later.

The example I had in mind is refactoring the many uses of "Developer DAO" in the various translations to refer to the same `title` string rather than duplicating it all over the place:

[code]

This pattern

[2021-09-19 18:14] nheingit commented on #76
@mathdroid - assigned this to you!

[2021-09-20 00:57] fmoliveira opened #92 "Reduce NFT data response time on E2E tests"
## Problem

The library `use-nft` dispatches around 12 requests to load each token's data. On my connection (80Mbps with 11ms ping), each request takes anywhere from 200ms to 700ms and the total time to load NFT data is anything between 2s to 5s. It feels slow, especially because we're not fetching this directly from the blockchain, but from traditional Web2 APIs.

Despite being slow, I've had eve

[2021-09-20 10:41] codingwithmanny commented on #91
I like "Nesting" not only because it accomplishes what it does but also because it sounds a whole lot shorter and nicer than "String Interpolation" 😂

[2021-09-20 15:43] TrevorFrench commented on #91
Could I work on this one?

[2021-09-20 16:10] codingwithmanny commented on #91
@TrevorFrench all yours

[2021-09-20 17:32] Nazeeh21 opened #95 "Missing Translation(s)"
### PR #

#94

### Translation Keys

projects

### List of missing locales

es, fr, ru, zh-CN, zh-HK, zh-TW, zh, pt, pt-BR, pt-PT

[2021-09-20 19:35] codingwithmanny commented on #95
In relation to PR #94

[2021-09-20 20:14] codingwithmanny commented on #92
Might be worth having a script that keeps track of how many api requests are made.
The free tier for etherscan is about 100,000/day or 5/per second. Could get go over that limit every we run automated tests.

Just rethinking this it might make more sense to mock that whole thing really.

[2021-09-20 20:20] codingwithmanny opened #97 "Add Analytics"
**Context:**
If we ever do promotion for a job board or any marketing it will be worth nothing what the traffic numbers are to use as a reference to pitch companies later down the road.

**Proposal:**
1 - Add Google Analytics code in main website.
OR
2 - Utilize something like Vercel analytics (Just don't know enough about it)

**Requirement:**
The account would need to be opened up by a mod.

[2021-09-20 20:37] fmoliveira commented on #92
@codingwithmanny I'm actually thinking of using the API keys only on tests run on CI.

- Local environment: uses shared community keys; you're free to put your personal keys on `.env` if you want, but it's not required for the app to work
- CI environment: has its own set of keys
- Production environment: also has its own set of keys, that can be different from CI to not share usage quota

I prefe

[2021-09-20 20:40] codingwithmanny commented on #92
@fmoliveira My worry because of the limits and the rate of contributions and ci tests run, it'll quickly fail more so that often.
I'm personally running the etherscan api right now for the last two days, and I've stayed within the limits and I still got failures.

[2021-09-20 21:11] codingwithmanny commented on #44
Closing this because it was addressed in #79

[2021-09-20 21:11] #44 closed

[2021-09-20 21:41] marbiano commented on #97
Sharing my two cents in here:

- Google Analytics is a decent tool but it's been typically tied to having privacy issues, I don't know if that's a thing or not for a web3 related project.
- Vercel analytics is a free tool only on a `Hobby` plan.
- If there's some kind of budget for the project, my personal preference would be towards using [Fathom](https://usefathom.com), which is a great service

[2021-09-20 22:27] codingwithmanny commented on #97
@marbiano
1 - Agree on the GA privac
2 - We've sponsored by Vercel so this might be included, which would be great, so we would just need to verify. @thomasmetta would you know by chance?
3 - Open to using other platforms as well

The goal of this is just to make sure there's tracking setup so we can just start measuring things as a base, but great feedback on options.

[2021-09-20 23:30] marbiano commented on #97
The good thing about Vercel Analytics is that it works out of the box for Next.js projects (no setup required), you just need to go to the projects dashboard, then click on the `Analytics` tab and enable it. Wanna give it a try and let me know if you need any help?

[2021-09-21 02:26] fmoliveira opened #98 "Validate token number from url parameter"
The search input already has a validation that disallows typing token numbers greater than 8000, our maximum token number.

However, we can still type an arbitrary number in the URL and the page shows as if the token existed and is available to be claimed. This may look like trolling for people familiar with the token limit, but otherwise, having an error message saying something like "Invalid tok

[2021-09-21 02:27] fmoliveira commented on #98
Sounds liike a good first issue?

[2021-09-21 02:27] fmoliveira commented on #98
Sounds like a good first issue?

[2021-09-21 10:39] codingwithmanny commented on #97
I think @thomasmetta would have to take this one, unless someone else has access.

[2021-09-21 10:49] codingwithmanny commented on #92
@fmoliveira I was thinking about this again today and there has to be a way where we could just spin up hardhat (maybe even as a docker container) which would run a localhost 8545 and serve the contract locally. That way you don't need mainnet to get the data, all the functions work the same because everything is in the contract the same as on mainnet AND no API limits.

[2021-09-21 12:44] with-heart commented on #92
I like this solution for the time being. Ideally, we should be able to sign up for Etherscan and various other API keys, but imo we need to mature as an org a little bit more first to have a process in place for managing various keys owned by the org.

[2021-09-21 12:45] with-heart commented on #97
I have Vercel access as well! Looks like it's not free, unfortunately:

![image](https://user-images.githubusercontent.com/1954752/134172733-ea7e4ebb-ab92-45b5-8ba2-6833a0af3e68.png)

[2021-09-21 13:07] codingwithmanny commented on #92
That and adding Etherscan API keys in the CI tests will definitely break often. I've had to restart my script multiple times, have you I'm up to `46986` api requests now.

[2021-09-21 13:08] moiz-lakkadkutta commented on #98
@fmoliveira hey i would like work on this

[2021-09-21 13:30] with-heart commented on #92
Not nearly enough requests. WORK HARDER

[2021-09-21 13:32] with-heart opened #101 "Publish token data"
I've seen a number of uses of the data related to the DevDAO token (traits, $DEV token combinations, etc.) in this project, `pixel-avatars`, and other community projects. It'd be nice to create an official package that exports this data, so all of the projects can reference the same thing rather than duplicating it all over the place. Maybe `@developer-dao/data` or `@developer-dao/token`?

[2021-09-21 14:19] #74 closed

[2021-09-21 14:23] #63 closed

[2021-09-21 15:45] #68 closed

[2021-09-21 18:17] Dhaiwat10 commented on #101
I'd absolutely be down for this. Is this data constant/static, or do we have to read it from the mainnet? (maybe we can cache it?)

[2021-09-21 22:38] thomasmetta commented on #97
Yeah, we can just go with google analytics for now

[2021-09-21 22:40] thomasmetta commented on #101
Maybe we can leverage The Graph?

[2021-09-22 01:39] fmoliveira commented on #92
@codingwithmanny @with-heart This is an awesome idea! And great points about the API keys regarding limits and management.

I've edited the original post to discard my original proposal and included a link to your comment instead @codingwithmanny .

[2021-09-22 14:36] #75 closed

[2021-09-22 14:37] codingwithmanny commented on #92
@fmoliveira I'm definitely curious myself. I didn't see a Docker image for this, but I imagine it should be crazy to build one either.

Definitely worth creating an issue for it, but if you'd like the tag team it, I'm down.

[2021-09-22 17:16] #84 closed

[2021-09-22 22:24] Ibby-devv commented on #77
I created https://ddao-mint.ibby.dev/ , happy to provide the code if someone wants to add it in?

[2021-09-22 22:31] nagmak commented on #77
@Ibby-devv do you want to add it in and open a PR since you've built it already? If not, I can certainly build upon what you have. I was gonna get around to this tomorrow!

[2021-09-22 23:02] gjsyme commented on #101
I am taking a look at the Graph. Not sure if anyone can view this yet due to not being published: https://thegraph.com/studio/subgraph/devs-for-revolution-(devs)/ (nor super sure it solves anything).

[2021-09-23 01:43] marbiano commented on #97
Happy to take this one, I would need the `GA_TRACKING_ID` in order to integrate it properly.

[2021-09-23 06:05] gjsyme commented on #92
Not sure if I know exactly what you wanted, but I made a hardhat repo that can enumerate the Devs (to console right now but you could change that) or will serve as a minimal server for querying (defaults to 127.0.0.1:8545, but again, you could change that). I don't think this product necessarily should go in the web repo but here it is: https://github.com/gjsyme/hh-devs-for-revolution

[2021-09-23 06:09] gjsyme opened #108 "Typo in gjsyme contributor record"
I had put in a `/v4` vice `?v4` so my image doesn't show on the contributors. PR to follow and correct my mistake.

[2021-09-23 09:28] Dhaiwat10 opened #110 "About page"
Maybe we can add an about page that has some information on what the DAO is, why it was made, what are we working on, what's the point of the website, etc etc. Just a thought

[2021-09-23 09:30] Dhaiwat10 commented on #110
I noticed the readme of this repo already has some great info. Maybe we can build on top of that.

[2021-09-23 11:55] #108 closed

[2021-09-23 13:37] gjsyme commented on #101
Inspired by #92 I put together a script that can enumerate or serve a simple local API for data about different tokens that may be useful on this: https://github.com/gjsyme/hh-devs-for-revolution

[2021-09-23 14:22] #48 closed

[2021-09-23 17:01] codingwithmanny commented on #101
@with-heart @gjsyme  I actually have a pull for all this data. I wanted to make sure I got data directly from the source as much as possible to avoid any discrepancies. I used Etherscan to make requests to the contract for all attributes (getClothing,... tokenURI), for all 1 to 8000 ids.

If interested I create a PR for it.

[2021-09-23 17:12] codingwithmanny commented on #101
If you'd like to see the proposed data, see:
https://developer-dao-9r0tv1fhw-developdao.vercel.app/devdao-data.json.zip

[2021-09-23 19:25] with-heart commented on #64
Hi @thomasmetta! No pressure here, just wondering if there's an update or if there's anything we can do to help!

[2021-09-23 20:18] narbs91 opened #112 "Add draft PR for CONTRIBUTING.md"
Currently we have a working google document around "Development Guidelines" to act as a base for people looking to contribute to the project.  As a takeaway item from the last community meeting we want to draft a PR to update the CONTRIBUTING.md file so that developers have a better understanding of how best contribute.

[2021-09-23 20:57] codingwithmanny commented on #92
WIP as a draft PR for the Docker implementation:
https://github.com/Developer-DAO/developer-dao-nft-contract/pull/1

[2021-09-23 20:58] codingwithmanny commented on #97
@thomasmetta we got a standard email address we can set this up with, like a developerdao [at] gmail dotcom or something of the sort?

[2021-09-23 21:10] codingwithmanny commented on #112
Yes to this! I think we might need a TL;DR version of it as well or maybe create a version like that.

[2021-09-23 21:12] codingwithmanny commented on #110
I almost want this as a future feature because I think we're still trying to figure that out at the moment (that's my opinion). I know that @kempsterrrr did come up with the Manifesto, so maybe it's that?
https://github.com/Developer-DAO/community/pull/7/files

[2021-09-23 21:14] codingwithmanny commented on #91
Closes this because it was merged in #104 thanks again @TrevorFrench

[2021-09-23 21:14] #91 closed

[2021-09-23 21:22] codingwithmanny opened #113 "Project Produced By"
**Context:**
Seen it a few times where people were asking who worked on what project and didn't know.

**Proposal:**

*Edit: On the `/projects` page (and any translated page `/es`, `/fr`, etc)

Option 1 - Add the github username:

[code]

Option 2 - Add name when username not available:

[code]

**Work Needed**
- [ ] Find there github usernames for the projects to link to them
- [ ] Modify the `pr

[2021-09-23 21:32] Dhaiwat10 commented on #113
That sounds like a great idea!

I believe this is to be added to the `/projects` page?

[2021-09-23 21:36] Dhaiwat10 commented on #110
Yeah. Something like that would fit well.

[2021-09-23 21:44] codingwithmanny commented on #113
@Dhaiwat10 that's right, it would be to the Projects page. I'll clarify that.

[2021-09-24 00:11] #101 closed

[2021-09-24 00:52] thomasmetta commented on #64
Hey, sorry I have been MIA this week lol. I will have something draft by tonight/tomorrow

[2021-09-24 01:02] thomasmetta opened #114 "Landing/home page"
Right now if a user lands on the home page, they probably will be very confused what the site is for and why there's a search function. I propose that we have a simple landing page and move our current page to a Search tab

This is kinda related to https://github.com/Developer-DAO/developer-dao/issues/110. Given we are still trying to figure out what the purpose of the DAO, we can have twitter sni

[2021-09-24 01:10] codingwithmanny commented on #114
I like this approach.

Re: Twitter snippet

Snippets from official Developer Dao twitter or snippets from devs in the community?

[2021-09-24 01:19] thomasmetta commented on #114
I would say not from official developerdao twitter since it's more convincing if it's from community members

Example snippet:

https://twitter.com/dhaiwat10/status/1437930758270709761
https://twitter.com/codingwithmanny/status/1438508253692903424
https://twitter.com/NHeinDev/status/1437101365701058562
https://twitter.com/aabugosh/status/1439665949934825476

Yes, design always first 😄

[2021-09-24 02:06] marbiano commented on #114
Would you folks accept a hand on the design part? I would gladly like to ontribute with the first iteration at what you so clearly described above.

[2021-09-24 02:11] codingwithmanny commented on #114
Yeah happy to make this a team effort @marbiano.
Did you want to start the base figma file for a wireframe to start with, with some placeholder text, etc?

[2021-09-24 02:22] marbiano commented on #114
Yup, I was planning to start from the base Figma file. Will keep you posted!

[2021-09-24 02:55] thomasmetta commented on #97
Not yet

[2021-09-24 03:51] thomasmetta commented on #64
Draft

What is DeveloperDAO
The project was started as an experiment by Nader Dabit to see what can be achieved when we bring together talented and like-minded people who are interested in learning about and building on Web3.

The DAO operates inside our discord server and over 240 active users. To gain access to this server you need to own a Devs for Revolution NFT. The contract for purchasing on

[2021-09-24 04:14] gjsyme commented on #64
In the "With your support" section -> Server cost for discourse "Lots" should be used vice "Lot's"

[2021-09-24 04:15] Dhaiwat10 commented on #64
I think we can reword this as:

- Bounties to reward content creators who have produced educational content & developers who have worked on features.

[2021-09-24 04:16] Dhaiwat10 commented on #64
And maybe put the last point somewhere higher, before this point ^

[2021-09-24 06:21] Dhaiwat10 commented on #114
I'll volunteer to write the code for this once the design is ready. :)

[2021-09-24 12:57] kempsterrrr commented on #97
@nagmak see above, @marbiano is trying to organise Google Analytics for the website. Could you help organise a GA tracking code with the gmail you set up for the DAO?

[2021-09-24 14:56] codingwithmanny commented on #92
@fmoliveira if I create the docker image (hosted on my DockerHub account for now), can you tag team this with me and create the cypress tests for it?

[2021-09-24 15:02] dabit3 commented on #64
Looks really great, @thomasmetta. Only minor suggestion I have is `to onboard more web2 users` -> `to onboard more web2 users and developers`

[2021-09-24 16:56] nwthomas commented on #64
This looks amazing! Do we want to include a link to the Etherscan contract where we reference it?

`"...purchasing one can be found on etherscan.io"` -> `"...purchasing one can be found on [etherscan.io](https://etherscan.io/token/0x25ed58c027921e14d86380ea2646e3a1b5c55a8b#writeContract)"`

Here's a few more small edits (syntax highlighting are changes/additions):
1. "Our community is composed of

[2021-09-24 19:59] PatrickAlphaC commented on #64
Woah we could actually get PAID for the content we make?!
I'm on board.

[2021-09-24 21:42] marbiano commented on #114
Alright, showtime!

**Light mode:**
<img width="1440" alt="d_d-light" src="https://user-images.githubusercontent.com/5664/134742141-b1d0bcce-65a5-421f-a579-b8985c871fb3.png">

**Dark mode:**
![d_d-dark](https://user-images.githubusercontent.com/5664/134742148-63f3c378-25e0-43b1-961d-25205937e362.png)

Some extra comments:
- Text is probably wrong, just wanted to put something out there.
- I introd

[2021-09-24 23:24] Dhaiwat10 commented on #114
Looks great! 😍 Just one question before I start converting this into code though:

The Figma file you mentioned is just a style guide, I suppose? Can you share the Figma file for the actual landing page design too? Thanks!

[2021-09-25 00:57] marbiano commented on #114
@Dhaiwat10 the linked Figma file has multiple pages, where you can get the primitives for typefaces, colors, grid, and a fourth one which is where I started working on the landing page.

If you can hold until next week, that would give me enough time to polish the design and work on the responsiveness of it.

Also, I'd love to set a call so we can discuss and agree on some things regarding the imp

[2021-09-25 02:02] kempsterrrr commented on #114
@marbiano this is looking good! Going to brain dump some thoughts below:

- Our name "Developer DAO" is not currently on the page, think it would be goo to add this somewhere. Maybe either next to the logo in the top-left or above the current main headline "Developers into Web3".
- Do we want some kind of instructions onsite about how to join? Sending new comers to open sea could be quite confusin

[2021-09-25 02:09] with-heart commented on #114
@marbiano The designs are gorgeous! Thanks for taking the time to put something together and get the ball rolling with this. It'll be a nice facelift for the site and will greatly improve DevDAO marketability.

@allcontributors please add @marbiano for design

[2021-09-25 02:10] kempsterrrr commented on #114
There have been some super interesting comments in discord that would be awesome to showcase as well, just leaving here as a record so I don't have to find them again 😂

[First examples from @sdfsdf](https://discord.com/channels/883478451850473483/883705562850807808/890223340697055252)

[another example from @mfnkl](https://discord.com/channels/883478451850473483/884171317753040976/884537431913803

[2021-09-25 02:23] with-heart commented on #114
I think that's essential for us. We have some star power that would enable us to grab people's attention enough to visit the site, and that's where we can really seal the deal and convince them to join.

---

Regarding the design & implementation, I want to think out loud about a few things with yall (all regarding Chakra UI):

- Chakra comes with its own design system. It's easy to modify through

[2021-09-25 03:31] Dhaiwat10 commented on #114
@marbiano
- My bad for not spotting that! I don't use Figma too often haha.
- Sure, please take your time in polishing the design.
- I would be down for a call. I agree with you on the 'being on the same page' point. 😄

@kempsterrrr Those are some excellent points. Thanks for writing that up! I think a brainstorming session along with anyone else who wants to join would be a great idea.

@with-hea

[2021-09-25 04:03] thomasmetta commented on #114
These are great. Maybe we can screenshot those and add those in the about page as well so the landing page wont get too bloated? The twitter snippet for Home page and Discord screenshot for About page for people to find out more without joining the channel

[2021-09-25 04:11] thomasmetta commented on #114
We have a lot of good pointers here. We can always ship something simple first and iterate on it since it's gonna better than what we currently have.

[2021-09-25 07:06] Nazeeh21 commented on #113
I would like to work on this.

[2021-09-25 12:22] marbiano commented on #114
You have all brought excellent points, that's exactly what I was looking for!

I'm typically a bit slower during the weekend but I'll try to bring most of your feedback into the design as soon as I can.

I'm specially interested into making the updates that would enable the project to keep using Chakra easily. I should have started from there, but since I typically build this from scratch, missed

[2021-09-25 13:34] ryancharris commented on #64
@thomasmetta How do we define an active user? Also wondering if it's worth mentioning how many users have minted NFTs to join since I believe that number is higher 🤔

[2021-09-25 13:37] dheavy commented on #88
@with-heart, could you please assign me for the `fr` locale?

[2021-09-25 13:44] dheavy commented on #112
Maybe as a rule of thumb we should assign reviewers to PRs as well?
Who should review (and who should merge) PR #88 that closes this issue?

[2021-09-25 14:10] dheavy commented on #88
I notice that "Home" and "Projects" labels in the nav bar aren't i18nzed yet.

Following the current nomenclature, one would use "projects" as label name (key in JSON file) but it's already taken for the content of the project page. I'd be encline to suggest via PR to rename the latter in order to keep some naming cohesion.

[2021-09-25 14:13] with-heart commented on #88
imo that makes perfect sense. Go for it!

[2021-09-25 14:19] with-heart commented on #112
I think for the most part we've been pretty good about reviewing! Most PRs so far have had reviews from maintainers and non-maintainers alike. This PR is just a weird case because it's being worked on outside of GitHub. I had asked @narbs91 to open it as a draft PR on GitHub just so people without access to it (which includes myself) could read it.

I'm planning to review it soon just to get my th

[2021-09-25 15:55] dheavy commented on #112
Sure @with-heart! I’m sorry, maybe these questions sounded a little inquisitive in hindsight :)
I was just afraid of stepping into someone’s way if I jumped on some unassigned PRs. Having just arrived here, I’m slowly getting acquainted. Thanks for taking the time for proving directions to newcomers like me 👍🏽 Super appreciated 🙂

[2021-09-25 16:07] thomasmetta commented on #64
@nwthomas Great suggestion. The Gitcoin form was just a simple text editor so didn't think of markup. Will make a PR for the final draft

@ryancharris Make sense, there's over 1,585 DEV NFT unique holder and 3,139 minted. The `240` number was the number of people in the discord. Active in a way that they went out of way to verify through collabland to participate in discord. I will include all tho

[2021-09-25 16:53] with-heart commented on #112
NO not at all! You should be inquisitive! That was a good question that deserved a good explanation of what I'm thinking with this at least.

I kinda look at it like some initiatives and priorities matter more to us than others, we can tell when they matter because if it matters someone will take the time to carry it over the finish line, and it's okay if some things take longer to become a priori

[2021-09-25 18:51] dheavy commented on #112
I like your philosophy _a lot_ 🙂

[2021-09-26 03:22] TrevorFrench opened #118 "Missing Translation(s)"
### PR #

104

### Translation Keys

Nesting needs to be added on "ZH" files

### List of missing locales

zh-CN, zh-HK, zh-TW, zh

[2021-09-26 03:23] TrevorFrench commented on #118
In reference to issue #91

[2021-09-27 15:13] marbiano commented on #114
Alright folks, here's the new WIP Figma file: https://www.figma.com/file/1QjhvUGytv6cLjZiAPLYLz/D_D-Figma-Kit?node-id=0%3A1

I basically duplicated Chakra's one and started modifying where it needed to be.

Also copied the landing page design to that file but still haven't changed it, will update this issue once that's done so we can jump on a call and discuss!

[2021-09-27 16:16] #113 closed

[2021-09-27 19:09] kempsterrrr commented on #64
@thomasmetta great effort getting this going, think it all reads great. Maybe worth mentioning the intention to create a roadmap for dev's to get into web3, similar to [roadmap.sh](https://roadmap.sh/) as a public good, although no one has taken that on yet...

I _think_ the number of people who have successfully verified via Collab Land is currently 929. See the image below showing number of peop

[2021-09-27 20:08] kavimaluskam commented on #118
I can help to update the `zh` files.

[2021-09-27 23:15] marbiano commented on #114
Here's the updated version of the design (light mode only):

<img width="1440" alt="d_d-light-02" src="https://user-images.githubusercontent.com/5664/134996523-d5346b60-544c-4a81-9a70-1c7371849692.png">

Comments:

1. Most of the page has been updated to use standard Chakra theme tokens, as per @with-heart's suggestion.
2. We are going to need to customize our Chakra's theme. Happy to help with in

[2021-09-28 06:19] narbs91 commented on #114
I share the same sentiment as the rest of the gang @marbiano , the design looks dope!  One question i have is around the intent of the "become a member" and "Mint now and join the DAO" buttons, are they meant to do the same thing (i.e mint a token)?  Are both buttons meant to land on a new page with the changes coming in the Direct minting PR(I assume they are)?

The point i want to get across is

[2021-09-29 00:05] Dhaiwat10 commented on #114
@marbiano The design looks amazing. Thanks for all the work! :D

Agreed about the call. Let us know when the design is ready & we will plan out the call!

[2021-09-30 02:48] gjsyme commented on #114
You may already be planning this, but Chakra has the [Color Mode](https://chakra-ui.com/docs/features/color-mode) that lets you swap over to dark mode and all its elements *should* (assuming we're only using their components and things work as advertised) switch over. It may be worth setting light mode, implementing, and then seeing if there's any work needed to make Dark mode better/different tha

[2021-09-30 04:55] dabit3 commented on #64
Update: I met with Gitcoin a few days ago about something else, but we dove deeply into the topic of they DAO and they are highly interested in collaborating in some way, it seems like the incentives are aligned perfectly. Thanks for everyone's work here so far.

[2021-09-30 05:08] Dhaiwat10 commented on #64
That's some great news @dabit3 🙏

[2021-09-30 18:48] marbiano commented on #114
Yup, that was the plan.

Yeah, I fully agree. Text and wording are not precisely my strong suit.

Was planning to use today's call to talk a bit about the next steps. Hopefully you can join!

Good to know, I haven't really used Chakra before so learning new things every day. I'm already proposing to customize some tokens on the default design system, so I'm not sure how those will reflect. I'll th

[2021-09-30 18:59] with-heart commented on #114
@marbiano I was hoping you'd want to talk about that today so that's perfect!

[2021-10-01 06:21] Dhaiwat10 commented on #114
Hey everyone, I couldn't attend the call (was 1am for me :( ). Did you discuss the landing page during the call? I couldn't find anything about the landing page in the meeting notes apart from a link to this issue.

I'd really appreciate a brief of what you discussed & what we're planning! :D

[2021-10-01 13:45] gjsyme commented on #114
Shortest answer is that ideally things can run in parallel; I believe that would mean you'd be able to get started trying to match to the light mode drawing with the understanding that there will be word changes and maybe some final changes to the page as @marbiano finalizes the look.
There is also a video recording linked from the call notes (we spent a good chunk of time on design/the landing pa

[2021-10-01 13:55] marbiano commented on #114
Yeah, there's a couple of things that are related to you @Dhaiwat10, so you might want to take a look at the recording.

[2021-10-01 14:09] Dhaiwat10 commented on #114
Thanks! I'll def have a look at the recording. I somehow missed it while going through the notes.

[2021-10-01 15:17] Dhaiwat10 commented on #114
Alright, I'm gonna get the ball rolling on my fork & put in a draft PR once I have something.

[2021-10-04 03:12] Dhaiwat10 opened #128 "design: Inconsistent styling for links"
I think the links on the `/projects` page should be underlined so that people can know that they actually are links. The styling of links should be consistent throughout the site, IMO.

<img width="963" alt="Screenshot 2021-10-04 at 8 38 35 AM" src="https://user-images.githubusercontent.com/39617427/135787485-6030085f-b452-47a3-a7cb-7199ac12d9ab.png">

[2021-10-05 00:09] #112 closed

[2021-10-05 00:11] narbs91 opened #129 "[Feature]: This is a test"
### Context / Background / How This Idea Came To Fruition

Just testing

### Problem / Opportunity

Just testing

### Proposed Solution / How It Can Be Improved

Just testing some more

### Testing the changes

Gonna test the test

### Additional Information

N/A

[2021-10-05 00:12] #129 closed

[2021-10-05 00:13] narbs91 opened #130 "[Bug]: This is a test bug report"
### What happened?

Bad stuff happened

### How to reproduce the bug?

List of steps...

### What browsers are you seeing the problem on?

- [X] Firefox
- [X] Chrome
- [X] Safari
- [X] Microsoft Edge

### What device type(s) did you see the problem on?

- [X] Desktop
- [X] Mobile
- [ ] Tablet

### What operating system(s) did you see the problem on?

- [X] macOS
- [ ] Windows
- [ ] Linux

### Addi

[2021-10-05 00:14] #130 closed

[2021-10-05 10:40] jaynguyens commented on #128
Any reason for the github separately from other 4? I would suggest we make a github an icon as well, unified the look

[2021-10-05 17:43] fluidself commented on #128
I forgot to post a comment here first, but took a stab at this one in PR #132

[2021-10-09 01:51] #64 closed

[2021-10-11 16:54] bee-san opened #139 "[Bug]: Discourse does not appear in footer"
### What happened?

![image](https://user-images.githubusercontent.com/10378052/136827039-280bcef3-98c1-4930-9ec0-ad16c8f321d2.png)

https://forum.developerdao.com/

### How to reproduce the bug?

Visit https://www.developerdao.com/projects for example

### What browsers are you seeing the problem on?

- [ ] Firefox
- [ ] Chrome
- [ ] Safari
- [ ] Microsoft Edge

### What device type(s) did you se

[2021-10-11 19:11] Dhaiwat10 commented on #139
Yep. You'll have to create a pull request. Did you create a fork?

[2021-10-11 23:16] #139 closed

[2021-10-20 04:00] gjsyme commented on #92
@codingwithmanny is this still on your radar and @fmoliveira did you see the question regarding cypress tests?

[2021-10-20 04:03] gjsyme commented on #76
@mathdroid are you still planning on doing this?

[2021-10-22 04:37] narbs91 commented on #118
Marking issue as completed

[2021-10-22 04:37] #118 closed

[2021-10-29 16:55] with-heart opened #153 "Change linked available token list app"
Spawned from #147

See https://github.com/Developer-DAO/developerdao.com/pull/147#issuecomment-954867297 from @dabit3

Use https://developerdao.vercel.com/ instead

[2021-10-30 04:20] narbs91 opened #154 "Add e2e tests for direct mint"
### Context / Background / How This Idea Came To Fruition

While working on adding testing for #147 efforts were thwarted when hitting a roadblock around how to mock a wallet.  This enhancement looks to add e2e testing for direct minting.

### Problem / Opportunity

Mocking a wallet for a test (unit or e2e) seems non trivial after much research by @Ibby-devv and thus a great opportunity for D_D me

[2021-10-30 04:46] narbs91 opened #155 "Make local and commit deployments point to testnet for minting"
### Context / Background / How This Idea Came To Fruition

After completion of #147 we realized that the minting functionality is always pointing to mainnet regardless of where the application is running.  This poses a hinderance wrt to testing locally and in a test environment when trying to actually mint since in the current form it will cost real ETH to preform.

### Problem / Opportunity

With

[2021-10-30 04:59] narbs91 opened #156 "Making the navigation bar responsive"
### Context / Background / How This Idea Came To Fruition

After adding the direct minting feature it was noted that the navigation bar is not mobile friendly and requires the user to side scroll (🤮 ) to see the minting and project links:

![image](https://user-images.githubusercontent.com/29411347/139520604-351b222b-d79d-414f-a967-22b0ba38d6fd.png)

### Problem / Opportunity

As a cutting edge we

[2021-10-30 13:33] #153 closed

[2021-10-30 17:27] narbs91 commented on #156
@theprojectcode Has said he would like to take this on

[2021-10-30 17:29] theprojectcode commented on #156
Yes. Please assign this to me @narbs91

[2021-10-30 17:29] narbs91 commented on #155
@kavimaluskam has said he would like to work no this

[2021-10-31 00:03] narbs91 commented on #154
So i was messing around a bit with the original code base that @codingwithmanny spun up but was unable to successfully mock the window object with ethereum.  I then went down the rabbit hole of trying to mock up a wallet provider to be able to use for e2e tests:

[code]

[code]

Test ex:

[code]

(Note pasting code here because i couldn't push my branch to Manny's repo)

This was Inspired by this

[2021-10-31 01:19] Dhaiwat10 commented on #154
@narbs91 that's some real progress. Nice work! Is there any library that mocks other wallets like WalletConnect?

[2021-10-31 01:33] narbs91 commented on #154
Not that i've found yet but it seems the choices out there are pretty few and far between.  Will have to do a bit more research but this kinda comes back to a side conversation @Ibby-devv around we potentially trying to build a library around mocking a wallet/blockchain interaction

[2021-10-31 01:36] Ibby-devv commented on #154
I honestly think we should try and build our own library. We can start small and build on it. We can break it up into small chunks and let people work on a small aspect of the whole project and then bring it all together. It is definitely needed in the space from my brief research thus far.

[2021-10-31 01:37] Dhaiwat10 commented on #154
That's what I was getting onto as well! Let's do it

[2021-10-31 01:50] narbs91 commented on #154
Dope, we should def spin up a proposal for what we're looking to do so we can make it an official dao project; however, that would mean this issue would stay in limbo until we can that MVP version out.  If we go the route of building the library we def would want to show it off in use as something we use in our codebase.

[2021-10-31 01:55] narbs91 commented on #154
Sorry forgot to CC you too @kavimaluskam I know you were interested in the e2e too, would love your input too

[2021-10-31 02:03] theprojectcode commented on #156
<img width="574" alt="Screen Shot 2021-10-30 at 9 02 00 PM" src="https://user-images.githubusercontent.com/88997637/139563685-56a9d30d-96a1-4dd1-aa45-c2567fd0c470.png">

[2021-10-31 02:05] theprojectcode commented on #156
Any reason I'm getting the above error when I attempt to download the yarn package manager? I have npm already installed. Is it fine if I run that as my package manager @narbs91

[2021-10-31 02:12] narbs91 commented on #156
Hmm did you happen to install npm and node via sudo?  Looks like the folders it's complaining about have restricted perms.  If that's the case you can look to grant read/write access to the folders it complaining about and then try again

[2021-10-31 02:15] narbs91 commented on #156
Another thing to consider is perhaps switching to nvm to manage the node versions so that you can bypass the perm issue

[2021-10-31 02:17] theprojectcode commented on #156
I figured it out. I ran brew install and it added the dependencies. Thanks.

[2021-10-31 02:17] theprojectcode commented on #156
@narbs91

[2021-10-31 02:56] Ibby-devv commented on #154
We could concentrate v1.0 to deal primarily with the test cases required for our minting process. Most of the functions are straightforward such as insufficient funds, wallet address and a transaction.

[2021-10-31 02:57] Ibby-devv commented on #154
We could concentrate v1.0 to deal primarily with the test cases required for our minting process. Most of the functions are straightforward such as insufficient funds, wallet address and a transaction.

[2021-10-31 03:14] narbs91 commented on #154
Yep, we def should concentrate on a mvp and then iterate on that

[2021-11-01 04:57] theprojectcode commented on #156
<img width="475" alt="Screen Shot 2021-10-31 at 11 54 27 PM" src="https://user-images.githubusercontent.com/88997637/139623625-4feb6758-cf97-46e3-a626-3c802f23ab47.png">

[2021-11-01 04:57] theprojectcode commented on #156
Should I be concerned? The error that I'm seeing says this - "Cannot find module 'react-i18next' or its corresponding type declarations." any suggestions?

[2021-11-01 06:02] theprojectcode commented on #156
I fixed it. I just needed to run yarn install.🤦🏾‍♂️

[2021-11-01 11:11] with-heart commented on #156
Sometimes you just have to think out loud! 💜 Glad you're making some progress!

[2021-11-02 12:40] theprojectcode commented on #156
Chakra's docs don't have as good of information about responsive navbars as I hoped. Would it be possible to use React docs or tutorials for this?

[2021-11-02 20:41] narbs91 commented on #156
You most certainly go that route with the react docs but perhaps @with-heart may know some under the hood magic in Charka for us get a responsive nav bar

[2021-11-02 21:31] kavimaluskam commented on #155
Have been mainly following up the work by @codingwithmanny these days.

Like to clarify, are we aiming to do the local hardhat approach or testnet approach on local and ci in #154,

meanwhile we can allow user to do manual testing with their local webserver by `yarn dev`, where testnet contract are configured?

[2021-11-03 00:34] narbs91 commented on #155
Heya @kavimaluskam so issue 154 is a separate thing all together were we're trying to figure out a way to mock wallet interaction; whereas with 155, what we are looking to solve is the problem of the minting page always pointing to mainnet.  What we want to do is have the app point to the rinkeby testnet contract (`0xbf114c4cbb4e70e6098589a918c84292cb40602a`)  when running locally and ideally on t

[2021-11-03 09:27] kavimaluskam commented on #155
yea I confused myself and it makes more sense now.

[2021-11-03 10:38] kavimaluskam commented on #155
Added a PR here https://github.com/Developer-DAO/developerdao.com/pull/162.

Tested on local and looks good.
Not sure if there are any better way to handle the constants with condition.

[2021-11-03 13:47] codingwithmanny commented on #155
@kavimaluskam @narbs91
To add to the clarification or lack on my part in terms of what I'd like to see (would also like to know what you guys think) is:

1 - Unit tests are mocked with jest in CI / GHA
2 - E2E tests are run with `localhost` contract with Cypress in CI / GHA
3 - Deployed Vercel PRs are run against `testnet` (might need some env variables set up for this)

That's my idea, but would

[2021-11-03 13:58] codingwithmanny commented on #154
Still working on this, but I'll try and give an update on it at the website meeting.

[2021-11-03 14:14] with-heart commented on #154
DRAFT PR!???

[2021-11-03 14:31] with-heart commented on #156
There's a derivate project of Chakra UI called Choc UI that showcases examples of custom components built using Chakra. They have a [Navbars page](https://choc-ui.tech/docs/navigation/navbars) that might be helpful to you. If you click the "Show Editable Component Code" button on each example, it'll show you the source.

[2021-11-03 16:04] theprojectcode commented on #156
Ok nice! I'll check that out! @with-heart Thanks!

[2021-11-03 21:00] G3root commented on #114
Is this open for pr other than team members ?

[2021-11-04 00:02] with-heart commented on #114
@G3root Absolutely! There is an open draft PR from @Nazeeh21 with a partial implementation so maybe there's a way yall could collaborate to bring one of these over the finish line? You're also welcome to open a draft PR so we can see what you have completed so far too.

[2021-11-04 01:15] narbs91 commented on #154
@codingwithmanny 's been dabbling in the general direction of a solution in his [own spun up repo](https://github.com/codingwithmanny/web3-react-jest-tests) which he started when we did a mini code together last week.   It's looking like we might end up using it as a base/guide i would suspect given how much effort he's put into it

[2021-11-04 01:21] narbs91 commented on #98
This is still pending feedback from Vercel support.  I have sent a chaser email this morning and am awaiting a response

[2021-11-04 01:30] gjsyme opened #163 "Missing Translation(s) - pt"
### PR #

94

### Translation Keys

projects

### List of missing locales

pt

[2021-11-04 01:30] gjsyme opened #164 "Missing Translation(s) - pt-BR"
### PR #

94

### Translation Keys

projects

### List of missing locales

pt-BR

[2021-11-04 01:31] gjsyme opened #165 "Missing Translation(s) - pt-PT"
### PR #

94

### Translation Keys

projects

### List of missing locales

pt-PT

[2021-11-04 01:32] gjsyme commented on #95
Can close this issue as I have created the new tickets per the meeting 28Oct2021 (created #163 , #164 , #165 )

[2021-11-04 03:00] codingwithmanny commented on #95
Let's close it out then and if more are needed, we just add more issues.

[2021-11-04 03:00] #95 closed

[2021-11-04 03:02] codingwithmanny commented on #154
😂 I'm working on it. @narbs91 it's right about the dabbling part. I needed to figure out the idea first before bringing it into the repository. I'm still on the unit tests part and then my next step is the E2E part.

[2021-11-04 03:41] narbs91 commented on #155
1. ✅
2. Do you mean deploying the contract to a docker container per-commit and running the tests against that?
3. We'd need ti dig a bit into Vercel but they do support a "per env" set up for the variables:
![image](https://user-images.githubusercontent.com/29411347/140253903-3ae4c07e-a9f6-478c-a0ad-2302d8e1b3b3.png)
I think it should be possible but typically these things are driven by configura

[2021-11-04 04:47] narbs91 commented on #155
This looks like a pretty promising library we might be able to use: https://github.com/lorenwest/node-config

It's pretty much what i had in my head with the previous comment

[2021-11-04 05:13] gjsyme opened #166 "[Feature]: Caching proxy for Resources Airtable"
### Context / Background / How This Idea Came To Fruition

The Airtable API has a static (can't be purchased out of, not that we would be likely to do that anyway) rate limit of 5 requests per second. There is, fortunately, a backoff built into the JS SDK but it's not a good user experience.
They recommend a caching proxy in order to avoid getting rate limited.
Relates to PR #161

### Problem / Op

[2021-11-04 12:39] with-heart commented on #155
Next.js defaults to handling environment variables files, where we can use `.env.(development|test|production)` (checked in) to store shared vars and `.env.(development|test|production).local` (in `.gitignore`) to store sensitive vars.

`build` defaults to using `production` but we should be able to override that by overriding `NODE_ENV` e.g. `NODE_ENV=test next build`.

Not sure if that helps bec

[2021-11-04 12:44] with-heart commented on #97
I reached out to @nagmak about sharing access to `developerdao1@gmail.com` so hopefully we can get that set up soon!

[2021-11-04 14:30] codingwithmanny commented on #155
Re: 2. Yes, we would just push the contract to a Docker Hub image instance and just pull it to run with the GHA tests. I'm trying to get this setup to explain this a bit further as well. Once it is setup, then it's all gravy...mmm... poutine.

Re: 3. Worse case we create different env variable names that we just reference.

Ex:
[code]

[code]

[2021-11-04 14:38] codingwithmanny commented on #92
@gjsyme closing this out because most of this will go into #154

[2021-11-04 14:38] #92 closed

[2021-11-04 14:58] with-heart commented on #155
Thanks for making me unbelievably hungry 🤤

[2021-11-04 16:03] kavimaluskam commented on #155
Is 3) means by the testing on CI when merge / preview build?

[2021-11-04 16:33] codingwithmanny commented on #155
@kavimaluskam crap yeah that's true. Not really a way to reset that testnet minting is there... or is there? Honestly asking lol.

[2021-11-04 16:44] kavimaluskam commented on #155
Does deploy a new contract everytime for testing make sense? In this sense we have to maintain an account with sufficient testnet ETH, and probably bare the longer time in CI for testnet transactions.

Or another simpler (weaker approach) is just providing testnet testing by manual approach.

Also I'm not sure what's the best solution in this domain here 🪖

[2021-11-04 17:05] codingwithmanny commented on #155
Just rethinking this. This is really for smoke testing, so there isn't any automated tests. So maybe it's still a viable solution.

[2021-11-04 17:43] kavimaluskam commented on #155
Is local + testnet setup sufficient for smoke testing? I think it's good to have mainnet production preview on vercel afterall.

[2021-11-05 13:36] Neumand commented on #166
I could take a stab at this. I know that **brandonl.eth** mentioned this yesterday so if he wants to take care of it that's cool with me!

My understanding is that instead of fetching the resources client-side with our custom hook, we'll move the logic to the `getStaticProps` call and add the `revalidate` field to rebuild the page whenever we add new resources. I don't have any experience with Air

[2021-11-05 14:52] gjsyme commented on #166
@Neumand I've added you to my fork so that you should be able to commit there; this way you can push to the branch that the PR is based upon and get it in. Please go ahead and knock that out as you're able; I'll take a look to clean it up and get the PR submitted by the end of the weekend if you don't get a chance.

[2021-11-05 16:32] gjsyme opened #171 "[Feature]: Link to Developer DAO Substack"
### Context / Background / How This Idea Came To Fruition

https://developerdao.substack.com/ is a thing. We should point people to it from our webpage.

### Problem / Opportunity

Problem: There is a substack that we run that people are unaware of.
Opportunity: Make the entire world (that visits our website) aware of our substack

### Proposed Solution / How It Can Be Improved

A link (maybe even

[2021-11-05 17:32] Neumand commented on #166
@gjsyme I made a change so that we no longer need the `useAirtableresources`. Instead, I create a `getAirtableResources` function in the new `/lib/airtable.ts` that will be called in the `getStaticProps`.

I kept the majority of your logic, basically just removing anything that was UI-focused. I'm out of time for today unfortunately but this should get you going for the rest.

I'll have some more

[2021-11-05 21:16] codingwithmanny commented on #155
@kavimaluskam yeah I guess my thinking was to use testnet like a staging (which is as close as production as possible), but the issue is that you can't reset staging in this case to get it to be the most up to date. So maybe you're right about that, it should be mainnet because staging can't really be trusted.

[2021-11-06 05:29] gjsyme commented on #166
that was all i needed - i can see it working on localhost and with this structure we don't even have to put the keys in a NEXT_PUBLIC. i tweaked it (slow down the requests even more and use the server side constants) and will get the PR up pending the vercel updates. thank you!

[2021-11-06 14:37] kavimaluskam commented on #155
@codingwithmanny Yeah... reseting staging is so tricky in testnet v.s. mainnet.

So i guess setting up testnet is sufficient for devs to the manually testing on local?
And we can still setup staging testnet by env @ vercel later if we need to.

[2021-11-07 21:01] embiem commented on #171
There's a way to embed the substack sign-up: https://support.substack.com/hc/en-us/articles/360041759232-Can-I-embed-a-signup-form-for-my-publication-

Can someone who has access to the substack account paste the iframe code here?

Also, would we want to add the signup on the new landing page, or rather as an extra page?
I personally would add the embedded sign-up in the Landing Page and additiona

[2021-11-08 00:24] gjsyme commented on #171
I think it makes sense to do on the landing page - which probably means that this will have to be integrated with #114. I see you requested the link on discord - thanks for that!

[2021-11-08 13:49] kempsterrrr commented on #171
Thanks @embiem for the nudge in discord, embed for substack email signup form below

`<iframe src="https://developerdao.substack.com/embed" width="480" height="320" style="border:1px solid #EEE; background:white;" frameborder="0" scrolling="no"></iframe>`

Ping back in discord if you need anything else :)

[2021-11-08 15:08] alanpcurrie opened #173 "[Feature]: Storybook for UI Component testing"
### Context / Background / How This Idea Came To Fruition

Thinking about the future UI maintainability and testability. Storybook is a potential solution for documentation components and implementing accessibility testing

Storybooks visual regression tool Chromatic can be used along with the unit and e2e tests to maintain quality.

### Problem / Opportunity

As the system grows, a source of trut

[2021-11-09 01:49] #155 closed

[2021-11-09 10:18] invinciblemax opened #175 "[Feature]: IPFS-based front-end"
### Context / Background / How This Idea Came To Fruition

I come from 4EVERLAND,I am also a member of DeveloperDao #4070 , I have been advocating and trying to advance web3 through my own efforts.
When I go through the official website and mint my token, I noticed that Vercel provides hosting services for our current website.
I wonder why we can't have an IPFS-based front-end that better illustra

[2021-11-09 17:43] codingwithmanny commented on #175
Hi @invinciblemax took a look at the feature set. It looks great but could you elaborate on how 4everland might handle the following:

**1 - Non-persisted individually deployed PRs:**

Often we need to test a deployed pull request for others to take a look at a proposed deployment.
It would be easy just to run the repository locally but some members are not 100% familiar with the code or we want t

[2021-11-09 18:12] narbs91 commented on #175
Hi @invinciblemax thank you for putting this proposal together!  I took a look around the site as well and do think 4EVERLAND seems like a promising product with a bright future; however, it looks too bleeding edge for me to be comfortable to port the site over.  My questions around the product are more or less in line with what Manny has written above.

I'm all for innovation and decentralization

[2021-11-09 22:04] with-heart commented on #173
@alanpcurrie let's do this! I think there's a lot of value in setting up storybook for the project, especially with the thorough list of configs you've put forth.

What's needed for publishing to Chromatic?

[2021-11-09 22:06] with-heart commented on #97
I have access to the D_D gmail account now!  Do we want to go with GA for analytics?

[2021-11-09 22:23] embiem commented on #175
I know that most dApps still host on Web2 providers (mainly because of the problems already described above), but have essentially the same site deployed on IPFS as well.

IMO this might be an option for D_D's site as well: to essentially have a CD stream that builds the static site and pushes it to IPFS as well as deploys to vercel.

[2021-11-10 12:53] brandonfrulla commented on #97
@with-heart based on the conversation above, I think GA is going to be the temporary solution for now- and down the line we might look at another less-invasive option

[2021-11-10 17:19] narbs91 commented on #97
I don't have any issues going with Google Analytics, let's do it!

[2021-11-10 17:26] brandonfrulla opened #177 "[Feature]: Web3 Wallet Connection/Token Search Functionality"
### Context / Background / How This Idea Came To Fruition

Formally writing up my idea from the Discord here for the sake of traceability. Given that we are a Web3-based DAO, some baseline Web3 integrations should be a component of our site now while we build out additional use cases.

### Problem / Opportunity

Upon connection to the DeveloperDAO website, Web3 browser extensions like MM et. al. s

[2021-11-10 17:57] Dhaiwat10 commented on #177
Thanks for creating this issue. FWIW, we already have a wallet integration for the mint functionality. You should have a look at that.

@Developer-DAO/site what are your opinions on having this feature added?

[2021-11-10 17:57] Dhaiwat10 commented on #173
Excited to see how this turns out!

[2021-11-10 18:26] brandonfrulla commented on #177
I minted directly through the contract, so I never actually saw the integration- sweet! That makes my life even easier

[2021-11-11 02:21] brandonfrulla commented on #177
@Dhaiwat10 My original post in the discord has a good number of likes, so I think we can take that as support here. Do you want to assign it to me officially? Thanks in advance.

[2021-11-11 06:17] narbs91 commented on #177
I think it would be cool feature to have a global sign in on the site; however, do note that the current wallet implementation only resides on the `mint your token` page and doesn't carry over to the other pages at the moment.  So there will probably be some refactoring work to be done to shift the login to state to have it carry over to the pages

[2021-11-11 13:08] alanpcurrie commented on #173
Hey folks, I've put a draft PR. Thought it was worth discussing the locale switching / Chakra issue that I ran into, to see if we can get it merged prior to a fix.

Essentially - ee can have locale switching, or chakra styling with the current config, styling felt more important for now. worth a conversation though

I have also added typescript path aliases to match the Storybook path aliases - th

[2021-11-11 14:10] emilbryggare commented on #97
I would recommend either Plausible or Fathom. Especially considering that the GA will be blocked by ~50% of visitors. (rough estimate). With the above tools, we can [track data using a proxy](https://plausible.io/docs/proxy/introduction) while still respecting the privacy of our users.

And if I'm not mistaken, we will have to use a cookie consent banner to use Google Analytics.

Our privacy polic

[2021-11-11 15:06] codingwithmanny commented on #97
This is true. Privacy policy is going to be crucial also for GDPR.
I'm now voting that be put on hold until we rethink things.

[2021-11-11 15:12] codingwithmanny commented on #175
@embiem I think what you're suggesting is SSG if I'm not mistaken, but correct me if I'm wrong.

If so, then an issue is the build time (we saw previously), to generate all the pages for all languages.

[2021-11-11 15:12] codingwithmanny commented on #155
Works for me.

[2021-11-11 15:12] brandonfrulla commented on #177
@codingwithmanny Hey there, that probably makes sense if there's about to be a major rework- do we have an ETA on the new site arrival?

[2021-11-11 15:14] codingwithmanny commented on #177
Hoping that may be done this week. PR is https://github.com/Developer-DAO/developerdao.com/pull/159

[2021-11-11 19:18] narbs91 commented on #97
Oh dang that's true around the privacy policy and great that it was brought up, yeah maybe we should huddle on this topic again before committing

[2021-11-12 06:14] dizthewize commented on #110
@Dhaiwat10 @codingwithmanny are there designs out for what this page should look like yet?

[2021-11-12 06:17] dizthewize commented on #156
@theprojectcode how far along are you with this? Feel free to let me know if you need any assistance

[2021-11-12 06:56] gjsyme commented on #110
Not that I'm aware of. We anticipate that there will be a clearer path
forward after the town hall later today.

On Fri, Nov 12, 2021 at 12:14 AM Martez H ***@***.***> wrote:

[2021-11-12 07:01] dizthewize commented on #110
@gjsyme okay thank you I would like to take this on if no one has picked it up yet

[2021-11-12 07:34] Dhaiwat10 commented on #110
@dizthewize I think you should wait until we have the design/content ready

[2021-11-12 18:32] naomiHauret commented on #97
Like @emilbryggare I would recommend [Plausible](https://plausible.io/) over Google Analytics.
It's very light (~1kb), open-source (here is their [repository](https://github.com/plausible/analytics/)), GDPR compliant and can be self-hosted.

[2021-11-14 11:11] amazingandyyy opened #180 "[Feature]: Add `wip` flag to issues that someone is already working on"
### Context / Background / How This Idea Came To Fruition

I tried to find an issue to work on,

<img width="966" alt="Screen Shot 2021-11-14 at 11 07 05 AM" src="https://user-images.githubusercontent.com/7886068/141678437-a5b637bf-d88f-4208-99bd-d633e9bcd1b4.png">

but end up going thru many issues and see someone said
[code]

etc etc, at the very bottom

### Problem / Opportunity

Hard to find a

[2021-11-14 11:43] amazingandyyy commented on #180
From [0xbee.eth](https://discord.com/channels/883478451850473483/908750953082126406/909402112486690816)

[code]

Sounds good

[2021-11-14 11:43] #180 closed

[2021-11-14 11:43] amazingandyyy commented on #180
Use [assign to noone](https://github.com/Developer-DAO/developerdao.com/issues?q=is%3Aopen+is%3Aissue+no%3Aassignee)

[2021-11-14 12:52] JoviDeCroock commented on #97
+1 on Plausible, [Cloudflare](https://www.cloudflare.com/analytics/) has its own analytics as well

[2021-11-14 17:10] with-heart commented on #97
Since Plausible has quite a few recommendations (here and on Discord) and also has a strong data privacy policy that appears to cover our needs, I've signed up for an account and will open a PR shortly to connect the site.

Plausible gives us a 30-day free trial so I'm thinking we see how it goes and we can re-evaluate at the end of the trial?

[2021-11-15 08:35] Dhaiwat10 opened #184 "Remove link to Opensea"
### Context / Background / How This Idea Came To Fruition

From Nader's [message](https://discord.com/channels/883478451850473483/884852584941232169/909666569846669363)

![image](https://user-images.githubusercontent.com/39617427/141748625-c070e38e-e1d1-4197-bd89-d7ec2b30c5b4.png)

### Problem / Opportunity

### Proposed Solution / How It Can Be Improved

Remove the link to Opensea from the footer

[2021-11-15 08:37] Dhaiwat10 commented on #184
![image](https://user-images.githubusercontent.com/39617427/141749025-94c840c4-371d-4b9b-8f8c-a0746c282032.png)

[2021-11-15 09:22] namanmanchanda09 commented on #184
Hey @Dhaiwat10, please do assign this to me. Thank you!

[2021-11-15 14:38] #97 closed

[2021-11-15 17:45] amazingandyyy commented on #110
@gjsyme in that case, can we add a `pending` or `blocked` flag to the PR, I really push to make our newcomer easier to find an issue to help on

[2021-11-15 19:21] with-heart commented on #97
Just an update on this, I've made our Plausible dashboard stats public! You can see them here: https://plausible.io/developerdao.com

[2021-11-16 12:40] with-heart commented on #110
I'm actually going to close this since priorities are going to be driven by design guild. We'll let them decide how they want to break the site down into pages, what the design/style looks like (based on Chakra, of course!), etc.

[2021-11-16 12:40] #110 closed

[2021-11-16 19:58] with-heart commented on #177
Since we're shifting ownership from developers to the design guild in order to focus the site around brand representation, we probably need to defer this conversation until we figure out what their plans are for the site.

Personally I'm not sure we'll have a need for these types of integrations on the main site, similar to banklesshq.com being their public face with only marketing content. That d

[2021-11-17 08:33] embiem commented on #175
@codingwithmanny true, Next.js dynamic routing for i18n [won't work with SSG](https://nextjs.org/docs/advanced-features/i18n-routing#how-does-this-work-with-static-generation).

As this would be a limitation preventing us to serve via IPFS, we could decide to only support English on the IPFS deployment.

This definitely has no priority, but in general I do believe that we should try to be as decen

[2021-11-18 18:44] Dhaiwat10 opened #195 "[Feature]: upgrade Next.js version to 12"
### Context / Background / How This Idea Came To Fruition

We're still using Next.js v11. The latest version - v12 has [lots of serious benefits](https://nextjs.org/blog/next-12).

### Problem / Opportunity

^^

### Proposed Solution / How It Can Be Improved

Bump the `next` dependency to the latest verison

### Testing the changes

n/a

### Additional Information

_No response_

[2021-11-20 01:57] narbs91 opened #196 "![IMPORTANT NOTICE]! Development on the website is being put on pause"
Hi there stranger, we at Developer DAO love your enthusiasm in wanting to get right into the thick of the action; however, with the recent changes introduced by the introduction of [Season 0](https://forum.developerdao.com/t/how-we-move-forward-as-a-dao-season-0/56) and the fact that we are now out of DEVS tokens for minting, the website in it's current form factor is out of date.  This is a real

[2021-11-20 01:59] narbs91 commented on #177
As we are shifting the purpose of the website pending a decision from the design guild we are putting a pause on all non maintenance/house keeping issues.  As such i'll be closing this issue.  Thanks for the interest in the website but tune back a little later when the new direction has been established

[2021-11-20 01:59] #177 closed

[2021-11-20 01:59] narbs91 commented on #175
As we are shifting the purpose of the website pending a decision from the design guild we are putting a pause on all non maintenance/house keeping issues.  As such i'll be closing this issue.  Thanks for the interest in the website but tune back a little later when the new direction has been established

[2021-11-20 01:59] #175 closed

[2021-11-20 02:00] narbs91 commented on #171
As we are shifting the purpose of the website pending a decision from the design guild we are putting a pause on all non maintenance/house keeping issues.  As such i'll be closing this issue.  Thanks for the interest in the website but tune back a little later when the new direction has been established

[2021-11-20 02:00] #171 closed

[2021-11-20 02:01] narbs91 commented on #156
This feature is complete, closing the issue

[2021-11-20 02:01] #156 closed

[2021-11-20 02:01] narbs91 commented on #154
As we are shifting the purpose of the website pending a decision from the design guild we are putting a pause on all non maintenance/house keeping issues.  As such i'll be closing this issue.  Thanks for the interest in the website but tune back a little later when the new direction has been established

[2021-11-20 02:01] #154 closed

[2021-11-20 02:02] narbs91 commented on #114
@with-heart @codingwithmanny do we still want to keep this open?

[2021-11-20 02:03] narbs91 commented on #173
@codingwithmanny @with-heart do we still want to keep this issue open?

[2021-11-20 02:05] narbs91 commented on #166
As we are shifting the purpose of the website pending a decision from the design guild we are putting a pause on all non maintenance/house keeping issues.  As such i'll be closing this issue.  Thanks for the interest in the website but tune back a little later when the new direction has been established

[2021-11-20 02:05] #166 closed

[2021-11-20 02:09] narbs91 commented on #98
As we are shifting the purpose of the website pending a decision from the design guild we are putting a pause on all non maintenance/house keeping issues.  As such i'll be closing this issue.  Thanks for the interest in the website but tune back a little later when the new direction has been established.

I will however add the localization fix in a follow up PR since that is re-usable in any futu

[2021-11-20 02:09] #98 closed

[2021-11-20 02:10] #165 closed

[2021-11-20 02:13] narbs91 commented on #163
As we are shifting the purpose of the website pending a decision from the design guild we are putting a pause on all non maintenance/house keeping issues.  As such i'll be closing this issue.  Thanks for the interest in the website but tune back a little later when the new direction has been established.

Many of the keys will be removed, so no more need for translation here

[2021-11-20 02:13] #163 closed

[2021-11-20 02:13] narbs91 commented on #164
As we are shifting the purpose of the website pending a decision from the design guild we are putting a pause on all non maintenance/house keeping issues. As such i'll be closing this issue. Thanks for the interest in the website but tune back a little later when the new direction has been established.

Many of the keys will be removed, so no more need for translation here

[2021-11-20 02:13] #164 closed

[2021-11-21 12:46] ademidun commented on #196
For anyone curious, here is [the website redesign PR](https://github.com/Developer-DAO/developerdao.com/pull/159) that @narbs91  is referencing above.

[2021-11-26 07:37] codingwithmanny commented on #114
@narbs91 I'd close it for archiving purposes.

[2021-11-26 14:11] codingwithmanny commented on #173
@narbs91
I would close it as it seem specific to the previous UI but good to know for the next version.

[2021-11-26 14:33] alanpcurrie commented on #173
Hey folks, it's in no way coupled to the previous ui. It's the config that's valuable here. @with-heart I've pushed changes addressing your comments

[2021-11-26 17:19] narbs91 commented on #114
As we are shifting the purpose of the website pending a decision from the design guild we are putting a pause on all non maintenance/house keeping issues. As such i'll be closing this issue. Thanks for the interest in the website but tune back a little later when the new direction has been established

[2021-11-26 17:19] #114 closed

[2021-12-20 23:55] marcgarreau opened #199 "[Feature]: alert about fake $CODE tokens"
### Context / Background / How This Idea Came To Fruition

Scammers deployed a fake $CODE token ahead of our governance token launch.

### Problem / Opportunity

Unsuspecting web3 citizens in and outside of our community may fall prey to this scam and lose their hard-earned cryptobucks.

### Proposed Solution / How It Can Be Improved

Just some text to the homepage that warns people that our token

[2022-02-24 19:47] Nazeeh21 opened #205 "Components Listing"
- [x] #206
- [x] #207
- [x] #208
- [x] #209
- [x] #210

All the components should be developed keeping in mind the responsiveness and the consistency of the code.

I've added the different [variants](https://github.com/Developer-DAO/developerdao.com/blob/be23acedf3daa10accf53b9fb3a70ddc5fad2eb1/src/theme.ts#L26) for `Text` and `Heading` elements of the Chakra UI as per the fonts and size of the te

[2022-02-24 19:51] Nazeeh21 opened #206 "Implement Footer"

[2022-02-24 19:51] Nazeeh21 opened #207 "Implement Header"

[2022-02-24 19:51] Nazeeh21 opened #208 "Implement Intro Section"

[2022-02-24 19:51] Nazeeh21 opened #209 "Implement Partners Section"

[2022-02-24 19:51] Nazeeh21 opened #210 "Implement Values Section"

[2022-02-24 21:09] myaowy commented on #209
I will take it and work on it.

[2022-02-24 21:12] sam0110 commented on #210
I will start working on this tonight.

[2022-02-25 08:29] kkeaveney commented on #207
I can work on the Header.

[2022-02-25 10:00] Nazeeh21 commented on #210
All yours, assigning you

[2022-02-25 10:01] Nazeeh21 commented on #209
Sure, sssigning you!

[2022-02-25 10:01] Nazeeh21 commented on #207
Assigning you! 😃

[2022-02-25 17:31] leouonline commented on #206
I wanted to do this... but I needed to learn more about chakra. I would love to learn from your approach @andreivdev

[2022-02-25 17:40] Nazeeh21 commented on #206
@andreivdev  Assigned to you

[2022-02-25 17:42] Nazeeh21 commented on #206
@leouonline if you want, you both can collab on this.

[2022-02-25 17:43] andreivdev commented on #206
@joneskj55 volunteered to work on this and I would really love to give other people the opportunity to contribute.

You guys let me know if you need any help. ❤️

[2022-02-25 17:49] Nazeeh21 commented on #206
Okay, so should I assign this to @joneskj55 and unassign you?

[2022-02-25 17:52] andreivdev commented on #208
Looks like this one is not covered, I can take it.

@Nazeeh21 please assign this to me. Thanks!

[2022-02-25 17:54] Nazeeh21 commented on #208
All yours 🤗

[2022-02-25 17:54] joneskj55 commented on #206
Hey @Nazeeh21, yes you can assign it to me. I should have at least a draft submitted later today. I'll reach out if I need any help. Thanks!

[2022-02-26 17:00] noahliechti commented on #184
Can we close this issue? We are actively encouraging people to buy from opensea:

<img width="708" alt="Screenshot 2022-02-26 at 17 58 46" src="https://user-images.githubusercontent.com/38284563/155851983-6253b07f-c2ef-4565-b013-a9a8ff06f510.png">

[2022-03-06 11:18] Dhaiwat10 commented on #184
@noahliechti good call, closing this

[2022-03-06 11:18] #184 closed

[2022-03-10 00:32] oceans404 commented on #199
Can I pick this up?

[2022-03-10 14:21] Nazeeh21 commented on #199
I am not sure, whether we still want this or not.
@with-heart your thoughts?

[2022-03-16 06:28] Nazeeh21 commented on #209
Hey @myaowy, just lmk if you are stuck somewhere or want my help on this, thanks

[2022-03-17 19:53] marcgarreau commented on #199
I believe this concern has mostly come and gone, but we'll want to make sure the redesign includes links to the contracts (Genesis NFT and gov token, once launched). I'll close this ticket, but maintainers please reopen or create a new ticket as you feel appropriate. Thanks @oceans404 for volunteering at any rate!

[2022-03-17 19:53] #199 closed

[2022-03-18 00:05] andyrobert3 commented on #209
Are you guys still working on this?
if not happy to help out

[2022-03-18 00:06] andyrobert3 commented on #209
just joined the DAO and looking for projects to do here!

[2022-03-20 16:21] myaowy commented on #209
oh no I'm so behind on this. @Nazeeh21, you can assign @andyrobert3 for this. I'm sorry I didn't implement that.

[2022-03-20 17:31] Nazeeh21 commented on #209
Np @myaowy, I'll assign @andyrobert3.
Over to you @andyrobert3

[2022-03-20 17:42] Nazeeh21 commented on #199
@with-heart Do we need this?

[2022-03-29 09:25] noahliechti opened #216 "Favicon is not round and adjusted for different platforms"
### What happened?

This fix was already implemented in the pixel-avatars project and helps maintaining the continuous dao branding on different platforms.

Each platform comes with its own design (Android, Safari, Windows Tiles, ...) requirements. You can't just use the same picture everywhere. I use RealFaviconGenerator to craft the correct icons for every platform.

### How to reproduce the bug

[2022-04-02 20:30] #206 closed

[2022-04-02 20:30] #207 closed

[2022-04-02 20:34] Nazeeh21 commented on #209
@andyrobert3 Can you create a draft PR or something like that when it's ready (no rush) so that we can have a look at the progress and help you out in possible ways?

[2022-04-04 07:12] Nazeeh21 opened #218 "Fix font sizes"
Use chakra UI variants for all the components i.e. `Header` and `Footer`.
Figma link for the ref: https://www.figma.com/file/W2MGe36aUKYzaE3EaWQIm5/Developer-DAO-website-2022?node-id=2%3A596.

[2022-04-05 15:49] marcgarreau opened #220 "[Bug]: fix "temporarily closed" inaccuracy"
### What happened?

I realize that the redesign is well under way, but seems prudent to update the verbiage in the joining section immediately:

[code]

I occasionally see questions about this in the Discord server and on Twitter.

### How to reproduce the bug?

(visit developerdao.com)

### What browsers are you seeing the problem on?

- [ ] Firefox
- [ ] Chrome
- [ ] Safari
- [ ] Microsoft Edge

[2022-04-12 15:25] andyrobert3 commented on #209
https://github.com/Developer-DAO/developerdao.com/pull/222

Waiting for the the partners icons section here

[2022-04-12 15:25] andyrobert3 commented on #209
<img width="661" alt="image" src="https://user-images.githubusercontent.com/15076300/162997717-2b3181c1-d6cd-4567-aec9-8156518c6ea5.png">

[2022-04-16 19:33] Nazeeh21 commented on #218
Closed by #223

[2022-04-16 19:33] #218 closed

[2022-04-16 19:33] Nazeeh21 commented on #210
Closed by #212

[2022-04-16 19:33] #210 closed

[2022-04-16 19:34] Nazeeh21 commented on #209
Closed by #222

[2022-04-16 19:34] #209 closed

[2022-04-16 19:37] #208 closed

[2022-04-27 04:15] etr2460 commented on #220
I fixed this in #221 so i think this can be closed

[2022-05-06 11:29] Nazeeh21 opened #226 "Update the links and social icons"
This is regarding the latest suggestions from kemp on discord
Ref link: https://discord.com/channels/883478451850473483/884852584941232169/971715630153756693
----------------
**Menu bar**

think we should change "Latest Updates" to "Twitter"
Where are we sending "Events" - could be to the public Google calendar for DAO events in 📅-d_d-events , here is the link https://developerdao.notion.site/Cale

[2022-05-08 19:03] kempsterrrr commented on #226
Thanks @Nazeeh21 - working on this now and will push an update to #224 🤝

[2022-05-08 19:42] kempsterrrr commented on #226
All done. Updated #224 which hopefully should close this issue now

[2022-05-09 09:38] Nazeeh21 commented on #226
Thanks @kempsterrrr. The changes look amazing 👌🏻 . Closing this issue

[2022-05-09 09:38] #226 closed

[2022-05-09 10:12] Nazeeh21 opened #227 "UI improvements"
1- at the beginning of the website loading, images are not so fast at loading, so try loading that image faster

![image](https://user-images.githubusercontent.com/56908732/167388811-cd0667d4-096c-436e-acb3-7b5a3b7eb8e8.png)

2- align these icons horizontally center, so we can have equal amount of space between left and right text
![image](https://user-images.githubusercontent.com/56908732/1673892

[2022-05-09 10:16] Nazeeh21 opened #228 "Add CMS"
We have decided to go with prismic, but we are open to suggestions, if anyone has a better alernative

[2022-05-09 22:03] alanpcurrie commented on #227
Hey @Nazeeh21 I can pick this one up

[2022-05-10 07:26] Nazeeh21 commented on #227
Sure, all yours

[2022-05-12 08:41] Nazeeh21 commented on #227
Closed by #229

[2022-05-12 08:41] #227 closed

[2022-05-12 09:24] alanpcurrie commented on #228
Hey @Nazeeh21 I'd be happy to start on this. Is there an existing prismic account? or anything else I should know before progressing?

[2022-05-13 15:30] jcstein opened #231 "[Feature]: Add LinkedIn link to website footer"
### Context / Background / How This Idea Came To Fruition

https://www.linkedin.com/company/developer-dao/ - 13 May 2022 Town Hall

### Problem / Opportunity

Growing our network

### Proposed Solution / How It Can Be Improved

https://www.linkedin.com/company/developer-dao/

### Testing the changes

https://www.linkedin.com/company/developer-dao/

### Additional Information

_No response_

[2022-05-13 16:48] Nazeeh21 commented on #228
@alanpcurrie There is not an existing prismic account. I'll create one and share the credentials with you

[2022-05-15 09:47] rai-rakesh commented on #231
Anyone working on this? I can pick this up.

[2022-05-16 17:50] #196 closed

[2022-05-16 18:21] #205 closed

[2022-05-16 18:22] #220 closed

[2022-05-19 09:32] Nazeeh21 commented on #195
Closed by #232

[2022-05-19 09:32] #195 closed

[2022-05-20 13:58] AurelienConte commented on #231
Hi, since the PR has no response i have taken the job by myself (sorry @rai-rakesh if i disturb you).
This is my first contribution to the project so any review are welcome.

I haven't see any tests about the frontend so i didn't add test about the linkedin icon, maybe it can be a new issue if it's not created already ...

[2022-05-20 14:05] AurelienConte commented on #216
Hi !

I can take this PR if no one is working on it.

[2022-05-20 14:45] AurelienConte commented on #216
I just submitted a new PR on the subject using the RealFaviconGenerator.
Let me know if it feet your need. On my side that fills the need.

You can test the project by running `yarn dev` and opening the `http://localhost:3000`

[2022-05-21 12:18] noahliechti commented on #216
@AurelienConte there is already an existing PR #219

[2022-06-07 09:38] thatguyintech opened #237 "[Feature]: add OpenSea collection link for the D4R NFTs to the homepage footer"
### Context / Background / How This Idea Came To Fruition

I actually often find myself trying to look for the DeveloperDAO NFT collection contract address. My first intuition is to check either:

1. The DeveloperDAO twitter account, or
2. The DeveloperDAO website

Neither have any info on the NFT collection contract address nor a link to the official OpenSea collection. My workaround for this is

[2022-06-07 14:36] #237 closed

[2022-06-27 11:26] kempsterrrr opened #239 "[Feature]: Add T&Cs and Privacy Policy Pages"
### Context / Background / How This Idea Came To Fruition

As part of the Developer DAO Foundation setup we have drafted T&Cs and a Privacy policy which people who use the site and any associated services need to adhere.

### Problem / Opportunity

These need to be linked clearly on the website for any user to find directly or via a link from another doc/site/app.

### Proposed Solution / How It C

[2022-06-30 12:04] kempsterrrr opened #242 "[Feature]: Change Partnership enquiry form"
### Context / Background / How This Idea Came To Fruition

On the current website, the "Become a Partner" button goes to an old Google form and needs to be replaced with [this airtable form.](https://airtable.com/shrYLrOrjhOHJUdVl)

### Problem / Opportunity

This form drops enquiries directly into our CRM and notifies the right people in discord that it has happened.

### Proposed Solution / How

[2022-06-30 19:57] kempsterrrr opened #244 "Season 1 Website Expansion Plans"
@Nazeeh21 who else needs to be tagged in this?

Wanted to open a disucssion about plans for the website in Season 1.

Here is my understanding of what is currently on the roadmap that might not be finished before S1 starts:

- [ ] CMS Implementation with internationalisation and localisation

Some ideas for what we could create during Season 1:

- **/projects** - A curated grid view of active/deli

[2022-06-30 19:58] kempsterrrr commented on #244
@mohamedsadiq @eknobl

[2022-07-01 07:19] Nazeeh21 commented on #244
The proposed ideas are good and will be helpful for anyone visiting the website. So I think that'd be a good decision to include those things.

[2022-07-02 22:43] mohamedsadiq commented on #244
I agree with Nazeeh21, The proposed ideas will help us achieve one of the most important goals for Dao, Definitely worth considering!

[2022-07-02 23:57] mhmulford0 commented on #244
I see the site/cms as a place to aggregate a lot of the disparate elements that currently compose the DAO. I would suggest projects first. What projects are ongoing and where to find them was the first question i had upon joining.

I have experience with Strapi as a headless CMS solution. I saw someone else was already using one called Prismic, however it only offers a hosted solution and is not o

[2022-07-04 23:18] kempsterrrr commented on #244
Completely agree. It it could really help people with answering that questions. I also hope it would help people feel a bigger sense of reward for the projects they are working in the DAO that they are being showcased in this way.

Personally all for open source but do we really want to undo all the work @alanpcurrie has done? The decision to use that CMS was made out in open and I'd hate to do th

[2022-07-05 16:24] #242 closed

[2022-07-05 16:43] kempsterrrr commented on #228
in #244 there is the suggestion of using strapi as it;'s open-source FYI, have left a comment in response

[2022-07-05 16:49] Nazeeh21 commented on #244
I agree with Kemp. Alan is working on cms and has come a long way into it. It won't be a good decision to undo all the things as it'll waste all his time and effort. So i believe for now it'd be good to keep going with the prismic.

[2022-07-05 16:59] kempsterrrr opened #245 "[Chore]: Added Github actions to help with project maintenance"
### Context / Background / How This Idea Came To Fruition

Hello folks. Last week I asked in the server if people thought adding a bit of light automation to the repos on our Github org might help and generally, people were really supportive. See the poll [here](https://discord.com/channels/883478451850473483/915267870924095580/992406662575050823) - 95% I'm favour

### Problem / Opportunity

There

[2022-07-05 17:45] Nazeeh21 commented on #244
Yes, even I feel that after the comment from Alan on discord, It'd be good to move to strapi. As it also has many more add-on benefits to offer

[2022-07-05 20:31] alanpcurrie commented on #244
happy to support, I did a bit of refactoring around the layout, and components to allow cms data to be used that might be useful for Strapi integration too

[2022-07-05 20:55] kempsterrrr commented on #244
Awesome, you're a legend @alanpcurrie - @mhmulford0 over to you, can you share the work you've done so far on the strapi implementation?

As for thinking about the other suggested features at the top of this issue, how would people like to progress? @Nazeeh21 and @mohamedsadiq you did such an amazing job on the new website would be great to take a lead on how you approached it if you're up for it?

[2022-07-06 01:29] mhmulford0 commented on #244
@kempsterrrr https://github.com/mhmulford0/dd-site for the frontend of the projects. this is an all in on repo that is set up for storybook, testing, linting, Github actions, pre-commit hooks, etc

backend is here https://github.com/mhmulford0/dd-website-backend although this is just a basic strapi deploy with my initial ideas of what the data model looks like

[2022-07-06 16:33] mhmulford0 commented on #244
@Nazeeh21 that is exactly what I am thinking as well. The main landing page can be a place that points to the other projects.

[2022-07-07 11:18] kempsterrrr commented on #244
@mhmulford0 thanks for sharing these links, haven't had a chance to have a look yet but will do soon.

Agree with @Nazeeh21 before we build anything further on the FE we should lead with design. @mhmulford0 not sure I understand the value of hosting the projects on a subdomain vs `/projects` (grid view or whatever) and `/projects/project-name` for detailed static view of the project. What is the t

[2022-07-09 06:47] mhmulford0 commented on #244
Subdomain was the first idea, not super stuck on it. And if a subdirectory is better for SEO, all the better. I didn't consider SEO and didn't know that it doesn't like subdomains, good info. @kempsterrrr @0xBabatunde

No hard design decisions made yet so all is well I believe. I was mostly just poking around, wiring up the things, etc. Any progress is good at this point!

How do we go about getti

[2022-07-09 08:06] kempsterrrr commented on #244
Yeah, we good :) I was thinking about how we move forward last night. @Nazeeh21 @mohamedsadiq did a great job on this new version of the website so probs best to take their lead if they have the time?

I've spun up [space on the DAO miro](https://miro.com/app/board/uXjVOa4GdEE=/?moveToWidget=3458764529073911526&cot=14) for the website and will start dropping some structure and thoughts on there as

[2022-07-09 08:14] Nazeeh21 commented on #244
Yes, i believe we can start by designing the projects page and like wise detailed projects page. @mohamedsadiq let us know if anything is required from our side for the projects section.

[2022-07-09 08:40] kempsterrrr commented on #244
I'm going to be handing on on VC5 for a bit thinking about the website if anyone is around

[2022-07-09 09:10] Nazeeh21 commented on #244
Hey @kempsterrrr, I am not at home currently, so won't be able to join. I have dm'd @mohamedsadiq about this convo and will coordinate with him about the `projects` design

[2022-07-12 16:18] kempsterrrr commented on #244
FYI, folks, @mhmulford0 has transferred the Strapi backend to our org here - https://github.com/Developer-DAO/dd-website-backend

[2022-07-20 16:36] #228 closed

[2022-07-20 16:48] #216 closed

[2022-07-20 16:51] #231 closed

[2022-07-21 14:55] kempsterrrr commented on #244
@mohamedsadiq and I chatted today and he is onboard to move ahead with the design taking inspiration from the data model. We spoke about the `/projects` page being a grid of projects with maybe one featured one at the top and then the `projects/project-name` pages being like profiles with a card of details of the projects on the left and description etc. on the RHS

for anyone coming here we have

[2022-07-23 16:45] mhmulford0 opened #247 "Create Reusable SEO Component"
Currently handling all SEO globally in the app component.

task is to create a reusable SEO component as we expand beyond a single page.

[2022-07-23 16:49] mhmulford0 opened #248 "Update Open Graph Image"
The current image could use a bit of flare! This is what people will see when our link gets pasted into discord/twitter/etc so let's make it pop.

[2022-07-24 19:59] dework-integration[bot] opened #251 "Launch New website"
[Read more about this task and rewards on Dework.xyz](https://app.dework.xyz/developer-dao/developerdaocom?taskId=2f9b0c55-abde-4f7e-973d-66fd7ab4c989)

[2022-07-26 21:37] mhmulford0 commented on #245
@kempsterrrr just reviewing open issues. I see the branch was merged, are there any pending items for this?

[2022-07-27 19:35] mhmulford0 opened #253 "Chore: Update website links"
There are old/out-of-date links present on the site that we need to get updated as we move towards S1

[2022-07-27 23:01] kempsterrrr opened #254 "[feature] migrate home page to use dynamic content from strapi"
Once https://github.com/Developer-DAO/cms/issues/6 has been merged, the home page will need to be update to replace the hard coded content with dynamic content from the CMS.

The model is being documented in the issue reference above but it should ultimately be a 1 for 1 change that requires:

- [ ] Adding GraphQL query to call in data in `getServerSideProps`
- [ ] Replacing hard content content w

[2022-07-27 23:02] kempsterrrr commented on #254
We agreed on the weekly sync this would be picked up by @Nazeeh21 - will ping you when https://github.com/Developer-DAO/cms/issues/6 has been marged mate :)

[2022-07-27 23:21] mhmulford0 commented on #245
closing this as i believe it to be resolved.

[2022-07-27 23:21] #245 closed

[2022-07-27 23:58] mhmulford0 opened #256 "Update Design To Be More Diverse"
As a group composed of many different sorts of people, our materials should reflect that.

The design was released in its' current form as an effort to get a months-long initiative launched. As such, this important task was deferred. Now that we have caught up some, we must take the time to make this update. I am opening this to the community as I should not decide who represents us alone.

Please

[2022-07-27 23:59] kempsterrrr commented on #248
WIP meta image update, waiting on decision on new folks to include in this. When that's confirmed will update and share this for someone new to pick up ideally :)

![Image](https://user-images.githubusercontent.com/9025997/181392266-7fcf811e-ac79-4ca4-9734-75532e359b16.png)

[2022-07-28 00:00] kempsterrrr commented on #248
any feedback welcome ofc

[2022-07-28 00:21] tyronedunmore commented on #256
![matthew Henson](https://user-images.githubusercontent.com/59738073/181394188-4001c934-6793-429a-919e-2065c21d93fd.jpeg)

[2022-07-28 09:08] kempsterrrr commented on #248
The final one I'm planning to use with update Explorer from #256 @mhmulford0 I've also fixed the overlap of the labels so someone can replace the image on the home page as well.

![Meta Image](https://user-images.githubusercontent.com/9025997/181467471-5bea3aa0-df06-4d1d-a4ec-6e05ae9d204f.png)

[2022-07-28 10:45] dework-integration[bot] opened #257 "[chore] - Update readme and contributor guidelines"
Our current readme and contributor docs need updating to better explain the code base we’re working with and also how we welcome new contributors. It is my feeling that once $CODE is released and we access to the bounty budget, we should make an effort to make all good-first-issues bounties to help welcome new contributors. Probably best to start internally to begin with but eventually, open this

[2022-07-28 14:50] andriishupta commented on #239
@kempsterrrr I have always used moment.js, and it is a fine library

but "recently", other libs became popular cause they are "blazingly fast"

[moment](https://www.npmjs.com/package/moment) - 16m weekly downloads
[date-fns](https://www.npmjs.com/package/date-fns) - 11m weekly downloads
[dayjs](https://www.npmjs.com/package/dayjs) - 9m weekly
[luxon][(https://www.npmjs.com/package/luxon) - 3m week

[2022-07-30 13:07] kempsterrrr commented on #239
thanks @andriishupta - ended up using date-fns, there is an open pr for this now #252

Will merge in what requried for The Developer DAO Foundation setup.

[2022-07-30 16:57] andriishupta opened #259 "[Feature]: Add indicator for theme selection"
### Context / Background / How This Idea Came To Fruition

I noticed a strange selection on the top right of the website and didn't expect it to be a theme switcher

### Problem / Opportunity

Improve UX by showing the theme selector as an actual theme selector.

### Proposed Solution / How It Can Be Improved

Add Sun/Moon Icon like on the Figma design

Current:
![image](https://user-images.github

[2022-07-30 16:57] andriishupta commented on #259
could be a "good first issue"

[2022-08-03 01:51] #256 closed

[2022-08-03 01:54] mhmulford0 commented on #173
I'm closing this issue because it is stale and would require a great deal of work to be brought to the current base.

[2022-08-04 14:41] alanpcurrie commented on #173
@mhmulford0 this PR would have been trivial to merge - not sure why it was closed?  https://github.com/Developer-DAO/developerdao.com/pull/241

[2022-08-04 14:47] andriishupta opened #262 "[Feature]: Create "Curated Contributors" as appreciation feature on Home Page"
### Context / Background / How This Idea Came To Fruition

Currently, we have a few images of "history people" on the home page. I suggest creating a separate Collection + Component in Strapi that will fetch random(curated) DAO contributors' accounts: image + Twitter name, for example.

### Problem / Opportunity

Enhance places where we care about DAO members and let them shine!

### Proposed Solu

[2022-08-04 14:50] andriishupta commented on #262
How it would look like:
![image](https://user-images.githubusercontent.com/10981565/182877463-3a93bd91-624e-42e6-bfad-1f9da21574d5.png)

[2022-08-04 14:57] mhmulford0 commented on #173
feel free to

[2022-08-05 09:43] kempsterrrr opened #264 "[Feature]: Season 1 Launch changes"
### Context / Background / How This Idea Came To Fruition

To support the launch of Season 1 I'm proposing the following changes:

- [ ] Edit existing, or add new banner, to clearly state message regarding $CODE launch date and link to claim site
- [ ] Add Claim Site link to NavBar + Footer
- [ ] Add School of CODE link to NavBar
- [ ] Maybe add Perks Link to NavBar if folks are up for it

#239 al

[2022-08-05 09:46] kempsterrrr commented on #264
For th first point I think we can probably use the existing marqeue banner, what do you think @mhmulford0 @andriishupta ?? Everything else seems pretty straight forward to me.

[2022-08-05 09:54] andriishupta commented on #264
@kempsterrrr I have added the "news_ticker" field to the Home Query response so that we can pass this kind of information.

Currently, it consist from Statement{ title: string; description }[], but we can change it to be Link{ title, url, }[] and pass links to Claim site
This Marquee header is located "above" Home page, so we can create a separate query for General/Settings to fetch on _app.tsx

F

[2022-08-05 09:55] andriishupta commented on #264
short: answer -> yes, we can use existing Header and pass info from CMS + add required info to Footer

[2022-08-05 10:05] kempsterrrr commented on #264
Great shout re the CMS @andriishupta - I wonder if we just get that field for the ticket to be a markdown block so we can put whatever text we want into the banner without having to worry about the data model?

[2022-08-05 10:08] andriishupta commented on #264
yes it could be w/e we want

if that Marquee accepts Markdown correctly we can just create RichText field "content"

pseudo
[code]

[2022-08-05 10:12] kempsterrrr commented on #264
Looks great to me mate. If you've got the time go for it otherwise I'll pick it up at the weekend :)

[2022-08-05 10:13] kempsterrrr commented on #264
Just dropping a link to another issue in the CMS repo re markdown in the CMS - https://github.com/Developer-DAO/cms/issues/12

[2022-08-05 11:42] andriishupta commented on #264
I would pick up CMS right away cause there shouldn't be many efforts, but with FE, we should check if we could easily just paste Markdown to Marque component

[2022-08-05 14:24] andriishupta commented on #264
after merge of related CMS PR - we could query for { general } in _app.tsx to pass `news_ticker` to Marquee

[2022-08-05 18:52] andriishupta opened #265 "[Chore]: Post Season 1 Tech Debt"
### Context / Background / How This Idea Came To Fruition

Some places should be cleaned and revisited after launch of stable site

### Problem / Opportunity

Small Tasks as "good first issues"

### Proposed Solution / How It Can Be Improved

- [ ] Clean all unused images
- [ ] Clean HomePage from unused code
- [ ] Check existing Todos
- [ ] Refactor and improve CMS/App Typings:
  - [ ] example: L

[2022-08-05 18:56] andriishupta opened #266 "[Chore]: Create monorepo"
### Context / Background / How This Idea Came To Fruition

Connect CMS and FE application to turborepo's monorepo- https://turborepo.org/

Also, add the correct build pipeline to use on Site and CMS deployments

References https://github.com/Developer-DAO/cms/issues/4

### Problem / Opportunity

To develop new functionality, Site developers would need to clone CMS from separate repo

### Proposed

[2022-08-05 18:58] andriishupta opened #267 "[Feature]: [AQA] Cover Home Page with"
### Context / Background / How This Idea Came To Fruition

After issue #266 where we create monorepo and correct build process for both CMS and Site, we would need to cover Site with AQA Tests.

### Problem / Opportunity

Secure ourselves from unwanted errors with: UI bugs / missing blocks / translations

### Proposed Solution / How It Can Be Improved

Implement Cypress tests

### Testing the chan

[2022-08-06 09:17] kempsterrrr commented on #267
Definitely support tests! I've never heard the term AQA though mate, what does that mean?

[2022-08-06 09:23] andriishupta commented on #267
Automatic Quality Assurance

Strange, cause in Ukraine it is the word for this position

For tests - end 2 end tests, but AQA I wrote as global tag for ticket

[2022-08-06 12:28] kempsterrrr commented on #266
If someone is up for it I'd love us to move forward with this, adding the repo @mhmulford0 shared in discord for reference - https://github.com/mhmulford0/dd-website-monorepo

I'm not sure how easy/hard this so don't want to push someone to do this when I don't have time though!

When we do it we should try to maintain the commit history across the two repo's if we cam

[2022-08-06 13:00] dework-integration[bot] opened #268 "TEST TASKS"
[Read more about this task and rewards on Dework.xyz](https://app.dework.xyz/developer-dao/developerdaocom?taskId=75f7379c-5eda-4151-8061-feaa019ae20d)

[2022-08-06 13:00] kempsterrrr opened #269 "Github > DeWork test tasks"

[2022-08-06 22:15] mhmulford0 commented on #266
yeah i'm thinking monorepo first then turbo repo. i just now got the commit history onto the monorepo.

[2022-08-08 01:24] mhmulford0 commented on #267
E2E testing would be valuable for all the important happy paths of our application. I see someone set up jest along the way in the codebase. we should remove that as well as a part of this effort and focus on cypress or playwright rather than Unit Testing / Integration Testing.

I have renamed the issue as well to something that will be more familiar to most. Cool to learn what people call it in o

[2022-08-08 17:09] #269 closed

[2022-08-08 17:10] #268 closed

[2022-08-09 06:41] andriishupta opened #270 "[Feature]: Update App to use correct translations"
### Context / Background / How This Idea Came To Fruition

Currently, translations are outdated and not used everywhere. Also, when CMS sends data - we send it as regular text. Need to send translation keys that match FE translation.

Next.js would build all languages during built time

### Problem / Opportunity

Would solve missing i18n.

### Proposed Solution / How It Can Be Improved

Create a v

[2022-08-09 14:19] #254 closed

[2022-08-09 14:55] #248 closed

[2022-08-09 14:55] #247 closed

[2022-08-09 16:21] kempsterrrr commented on #264
remove underline from footer navlinks... add blog, school of code and p3rks

[2022-08-09 16:42] #253 closed

[2022-08-09 16:45] mhmulford0 commented on #173
closed as we have migrated to monorepo

[2022-08-09 16:45] #173 closed